<p>
  Hello <%= @receipt.name %>,
</p>
<p>
  This is a receipt for your <%= @receipt.plan.period %> subscription at VersionEye.
  The receipt is attached to this email as PDF document.
</p>
<p>
  Your VersionEye Team<br/>
  <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=receipt"><%= Settings.instance.server_url %></a>
</p>
