---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u8eurPjtLP7h2SnyEm", oauth_nonce="jdu3xbMptJ7zht5o4mFezL05Nf4DbWNJvolaX2dg",
        oauth_signature="w%2BhpapIxM%2ByY%2F9KyHmiW0JTy%2BfE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463061136", oauth_token="4z7JqQxS3NWAZgvYYN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - wiki, project, account, repository:admin, repository, project:write, issue:write,
        pullrequest:write, team, webhook, pullrequest, snippet, snippet:write, repository:write,
        team:write, account:write, issue, email
      X-Static-Version:
      - a46a4511f80f
      Etag:
      - '"1736564b7f0685c6097d61338405c803"'
      X-Render-Time:
      - '0.0333421230316'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Version:
      - a46a4511f80f
      X-Request-Count:
      - '354'
    body:
      encoding: ASCII-8BIT
      string: '{"repositories": [{"scm": "git", "has_wiki": false, "last_updated":
        "2016-05-12T15:42:52.262", "no_forks": false, "created_on": "2016-05-12T15:35:35.213",
        "owner": "veye_test", "logo": "https://bitbucket.org/veye_test/fantom_hydra/avatar/32/?ts=1463060572",
        "email_mailinglist": "", "is_mq": false, "size": 58466, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_created_on": "2016-05-12
        13:35:35+00:00", "website": "", "description": "", "has_issues": false, "is_fork":
        false, "slug": "fantom_hydra", "is_private": true, "name": "fantom_hydra",
        "language": "", "utc_last_updated": "2016-05-12 13:42:52+00:00", "no_public_forks":
        true, "creator": null, "resource_uri": "/1.0/repositories/veye_test/fantom_hydra"}],
        "user": {"username": "veye_test", "first_name": "veye_test", "last_name":
        "", "display_name": "veye_test", "is_staff": false, "avatar": "https://bitbucket.org/account/veye_test/avatar/32/?ts=1463060093",
        "resource_uri": "/1.0/users/veye_test", "is_team": false}}'
  recorded_at: Thu, 12 May 2016 13:52:16 GMT
recorded_with: VCR 3.0.1
