---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/veye_test/fantom_hydra/branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u8eurPjtLP7h2SnyEm", oauth_nonce="5TQC8G7VFq869aSwxstdqeMD1dyaYxjDC0bFekhCDU",
        oauth_signature="lb31IXzndijpkFcVpRIjWThtL64%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463061839", oauth_token="4z7JqQxS3NWAZgvYYN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - wiki, project, account, repository:admin, repository, project:write, issue:write,
        pullrequest:write, team, webhook, pullrequest, snippet, snippet:write, repository:write,
        team:write, account:write, issue, email
      Etag:
      - '"034d883a034ec18186e715b23b47e21e"'
      X-Static-Version:
      - a46a4511f80f
      X-Accepted-Oauth-Scopes:
      - repository
      X-Render-Time:
      - '0.182728052139'
      X-Request-Count:
      - '285'
      X-Version:
      - a46a4511f80f
    body:
      encoding: ASCII-8BIT
      string: '{"java_branch": {"node": "6ea9ff7944fc", "files": [{"type": "added",
        "file": "Gemfile"}], "branches": ["clojure_branch", "java_branch", "master"],
        "raw_author": "reiz <robert.reiz.81@gmail.com>", "utctimestamp": "2016-05-12
        13:42:36+00:00", "author": "reiz", "timestamp": "2016-05-12 15:42:36", "raw_node":
        "6ea9ff7944fcbd8180e196a9281f07ab42475255", "parents": [], "branch": null,
        "message": "Add Gemfile\n", "revision": null, "size": -1}, "master": {"node":
        "6ea9ff7944fc", "files": [{"type": "added", "file": "Gemfile"}], "branches":
        ["clojure_branch", "java_branch", "master"], "raw_author": "reiz <robert.reiz.81@gmail.com>",
        "utctimestamp": "2016-05-12 13:42:36+00:00", "author": "reiz", "timestamp":
        "2016-05-12 15:42:36", "raw_node": "6ea9ff7944fcbd8180e196a9281f07ab42475255",
        "parents": [], "branch": null, "message": "Add Gemfile\n", "revision": null,
        "size": -1}, "clojure_branch": {"node": "6ea9ff7944fc", "files": [{"type":
        "added", "file": "Gemfile"}], "branches": ["clojure_branch", "java_branch",
        "master"], "raw_author": "reiz <robert.reiz.81@gmail.com>", "utctimestamp":
        "2016-05-12 13:42:36+00:00", "author": "reiz", "timestamp": "2016-05-12 15:42:36",
        "raw_node": "6ea9ff7944fcbd8180e196a9281f07ab42475255", "parents": [], "branch":
        null, "message": "Add Gemfile\n", "revision": null, "size": -1}}'
  recorded_at: Thu, 12 May 2016 14:04:00 GMT
recorded_with: VCR 3.0.1
