---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/veye_test/fantom_hydra/branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u8eurPjtLP7h2SnyEm", oauth_nonce="oinYOXqmnfwITtAswBWWerrUoGu7w9BTByTAImwMNP8",
        oauth_signature="MEgYVs%2F1mtyqXUHA7dFupsmBw9I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463062025", oauth_token="4z7JqQxS3NWAZgvYYN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - wiki, project, account, repository:admin, repository, project:write, issue:write,
        pullrequest:write, team, webhook, pullrequest, snippet, snippet:write, repository:write,
        team:write, account:write, issue, email
      Etag:
      - '"034d883a034ec18186e715b23b47e21e"'
      X-Static-Version:
      - a46a4511f80f
      X-Accepted-Oauth-Scopes:
      - repository
      X-Render-Time:
      - '0.332329034805'
      X-Request-Count:
      - '222'
      X-Version:
      - a46a4511f80f
    body:
      encoding: ASCII-8BIT
      string: '{"java_branch": {"node": "6ea9ff7944fc", "files": [{"type": "added",
        "file": "Gemfile"}], "branches": ["clojure_branch", "java_branch", "master"],
        "raw_author": "reiz <robert.reiz.81@gmail.com>", "utctimestamp": "2016-05-12
        13:42:36+00:00", "author": "reiz", "timestamp": "2016-05-12 15:42:36", "raw_node":
        "6ea9ff7944fcbd8180e196a9281f07ab42475255", "parents": [], "branch": null,
        "message": "Add Gemfile\n", "revision": null, "size": -1}, "master": {"node":
        "6ea9ff7944fc", "files": [{"type": "added", "file": "Gemfile"}], "branches":
        ["clojure_branch", "java_branch", "master"], "raw_author": "reiz <robert.reiz.81@gmail.com>",
        "utctimestamp": "2016-05-12 13:42:36+00:00", "author": "reiz", "timestamp":
        "2016-05-12 15:42:36", "raw_node": "6ea9ff7944fcbd8180e196a9281f07ab42475255",
        "parents": [], "branch": null, "message": "Add Gemfile\n", "revision": null,
        "size": -1}, "clojure_branch": {"node": "6ea9ff7944fc", "files": [{"type":
        "added", "file": "Gemfile"}], "branches": ["clojure_branch", "java_branch",
        "master"], "raw_author": "reiz <robert.reiz.81@gmail.com>", "utctimestamp":
        "2016-05-12 13:42:36+00:00", "author": "reiz", "timestamp": "2016-05-12 15:42:36",
        "raw_node": "6ea9ff7944fcbd8180e196a9281f07ab42475255", "parents": [], "branch":
        null, "message": "Add Gemfile\n", "revision": null, "size": -1}}'
  recorded_at: Thu, 12 May 2016 14:07:06 GMT
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/veye_test/fantom_hydra/src/java_branch/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u8eurPjtLP7h2SnyEm", oauth_nonce="wrw4zu2WmLLdXUVmcRcvRx2CtIg6ULSkfNXOqqABo8Y",
        oauth_signature="yrzWPTFaI4EteTCYMUjQQbrYq%2Bs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463062026", oauth_token="4z7JqQxS3NWAZgvYYN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - wiki, project, account, repository:admin, repository, project:write, issue:write,
        pullrequest:write, team, webhook, pullrequest, snippet, snippet:write, repository:write,
        team:write, account:write, issue, email
      Etag:
      - '"8dd6dd49bf933167e4d4b7b2ce32a1c2"'
      X-Static-Version:
      - 20e4f56414d0
      X-Accepted-Oauth-Scopes:
      - repository
      X-Render-Time:
      - '0.138018131256'
      X-Request-Count:
      - '105'
      Last-Modified:
      - Thu, 12 May 2016 14:07:07 GMT
      X-Version:
      - 20e4f56414d0
    body:
      encoding: UTF-8
      string: '{"node": "6ea9ff7944fc", "path": "/", "directories": [], "files": [{"size":
        38, "path": "Gemfile", "timestamp": "2016-05-12T13:42:36Z", "utctimestamp":
        "2016-05-12 13:42:36+00:00", "revision": "6ea9ff7944fc"}]}'
  recorded_at: Thu, 12 May 2016 14:07:07 GMT
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/veye_test/fantom_hydra/src/master/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u8eurPjtLP7h2SnyEm", oauth_nonce="aWDHOaP1BjKJT2Vd30ch6Sl5SwjrtmtVyj69yzYCg98",
        oauth_signature="K5YM57E3FJ2VaW8mOLxbq47dhEo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463062027", oauth_token="4z7JqQxS3NWAZgvYYN", oauth_version="1.0"
[...]
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/veye_test/fantom_hydra/src/clojure_branch/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u8eurPjtLP7h2SnyEm", oauth_nonce="TmtMe2dVyY1KkXzULEtaWOhCyTpBlst7bzoLpDDmJ0",
        oauth_signature="ur%2FJ7464qtFElqpjEotai1Um1U0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463062027", oauth_token="4z7JqQxS3NWAZgvYYN", oauth_versi[...]
