---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/veye_test/fantom_hydra/src/master/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u8eurPjtLP7h2SnyEm", oauth_nonce="XCL9OTO4b5KEmaNOMWlxesKlGA8rXSI1wSnw048I8",
        oauth_signature="H0b%2B10xG1QyTk94PjkxMEF%2F0VS8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463062443", oauth_token="4z7JqQxS3NWAZgvYYN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - wiki, project, account, repository:admin, repository, project:write, issue:write,
        pullrequest:write, team, webhook, pullrequest, snippet, snippet:write, repository:write,
        team:write, account:write, issue, email
      Etag:
      - '"95ae7e69f6dc6678ca8fdd7c7cfa4ae9"'
      X-Static-Version:
      - a46a4511f80f
      X-Accepted-Oauth-Scopes:
      - repository
      X-Render-Time:
      - '0.282394886017'
      X-Request-Count:
      - '300'
      Last-Modified:
      - Thu, 12 May 2016 14:14:05 GMT
      X-Version:
      - a46a4511f80f
    body:
      encoding: UTF-8
      string: '{"node": "c3742950b728", "path": "/", "directories": [], "files": [{"size":
        38, "path": "Gemfile", "timestamp": "2016-05-12T13:42:36Z", "utctimestamp":
        "2016-05-12 13:42:36+00:00", "revision": "6ea9ff7944fc"}, {"size": 3, "path":
        "bower.json", "timestamp": "2016-05-12T14:13:04Z", "utctimestamp": "2016-05-12
        14:13:04+00:00", "revision": "c3742950b728"}, {"size": 5, "path": "test",
        "timestamp": "2016-05-12T14:09:32Z", "utctimestamp": "2016-05-12 14:09:32+00:00",
        "revision": "b075ba497aae"}]}'
  recorded_at: Thu, 12 May 2016 14:14:05 GMT
recorded_with: VCR 3.0.1
