---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/2.0/users/veye_test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u8eurPjtLP7h2SnyEm", oauth_nonce="mzsVcWUPl5R2reTFf9IbdCZPdS73XsEpmWoVpk",
        oauth_signature="1Min9vWjO7Z8OVV2HvKHKxcYKvU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463061297", oauth_token="4z7JqQxS3NWAZgvYYN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - wiki, project, account, repository:admin, repository, project:write, issue:write,
        pullrequest:write, team, webhook, pullrequest, snippet, snippet:write, repository:write,
        team:write, account:write, issue, email
      X-Static-Version:
      - a46a4511f80f
      Etag:
      - '"eb8904bef39c6a105df4d127497ebcf6"'
      X-Render-Time:
      - '0.0261869430542'
      X-Version:
      - a46a4511f80f
      X-Request-Count:
      - '305'
    body:
      encoding: UTF-8
      string: '{"username": "veye_test", "website": null, "display_name": "veye_test",
        "uuid": "{78cda96b-d463-4c9c-a91c-db5a4cc874c4}", "links": {"hooks": {"href":
        "https://bitbucket.org/!api/2.0/users/veye_test/hooks"}, "self": {"href":
        "https://bitbucket.org/!api/2.0/users/veye_test"}, "repositories": {"href":
        "https://bitbucket.org/!api/2.0/repositories/veye_test"}, "html": {"href":
        "https://bitbucket.org/veye_test/"}, "followers": {"href": "https://bitbucket.org/!api/2.0/users/veye_test/followers"},
        "avatar": {"href": "https://bitbucket.org/account/veye_test/avatar/32/"},
        "following": {"href": "https://bitbucket.org/!api/2.0/users/veye_test/following"},
        "snippets": {"href": "https://bitbucket.org/!api/2.0/snippets/veye_test"}},
        "created_on": "2016-05-12T13:34:52.440981+00:00", "location": null, "type":
        "user"}'
  recorded_at: Thu, 12 May 2016 13:54:58 GMT
recorded_with: VCR 3.0.1
