---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/veye_test/fantom_hydra/src/master/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u8eurPjtLP7h2SnyEm", oauth_nonce="LXZViT7o5vfMsJlvrGqk4ZKROumYd7WbgV9jpVxh7ZQ",
        oauth_signature="2q4oJ2y1l2hEWhXthoYBfMisu3E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463065647", oauth_token="4z7JqQxS3NWAZgvYYN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - wiki, project, account, repository:admin, repository, project:write, issue:write,
        pullrequest:write, team, webhook, pullrequest, snippet, snippet:write, repository:write,
        team:write, account:write, issue, email
      Etag:
      - '"35620ebc23a2f80839963de1bbd3b93c"'
      X-Static-Version:
      - a46a4511f80f
      X-Accepted-Oauth-Scopes:
      - repository
      X-Render-Time:
      - '0.110707044601'
      X-Request-Count:
      - '486'
      Last-Modified:
      - Thu, 12 May 2016 15:07:28 GMT
      X-Version:
      - a46a4511f80f
    body:
      encoding: UTF-8
      string: '{"node": "5724ef55e385", "path": "/", "directories": ["lib"], "files":
        [{"size": 38, "path": "Gemfile", "timestamp": "2016-05-12T13:42:36Z", "utctimestamp":
        "2016-05-12 13:42:36+00:00", "revision": "6ea9ff7944fc"}, {"size": 3, "path":
        "bower.json", "timestamp": "2016-05-12T14:13:04Z", "utctimestamp": "2016-05-12
        14:13:04+00:00", "revision": "c3742950b728"}, {"size": 5, "path": "test",
        "timestamp": "2016-05-12T14:09:32Z", "utctimestamp": "2016-05-12 14:09:32+00:00",
        "revision": "b075ba497aae"}]}'
  recorded_at: Thu, 12 May 2016 15:07:28 GMT
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/veye_test/fantom_hydra/src/master/lib
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u8eurPjtLP7h2SnyEm", oauth_nonce="EQJ3AO7i0wcvCFT2Qj9kk7MjpBS9YbmwOcQq7BvuXc",
        oauth_signature="0sBCM3IIdRw9mTs8KzlB2rGA9X8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463065648", oauth_token="4z7JqQxS3NWAZgvYYN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - wiki, project, account, repository:admin, repository, project:write, issue:write,
        pullrequest:write, team, webhook, pullrequest, snippet, snippet:write, repository:write,
        team:write, account:write, issue, email
      Etag:
      - '"b534ee2b03d50d60abe8d55263ce407f"'
      X-Static-Version:
      - 20e4f56414d0
      X-Accepted-Oauth-Scopes:
      - repository
      X-Render-Time:
      - '0.0392549037933'
      X-Request-Count:
      - '176'
      Last-Modified:
      - Thu, 12 May 2016 15:07:29 GMT
      X-Version:
      - 20e4f56414d0
    body:
      encoding: UTF-8
      string: '{"node": "5724ef55e385", "path": "lib/", "directories": ["bin"], "files":
        []}'
  recorded_at: Thu, 12 May 2016 15:07:29 GMT
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/veye_test/fantom_hydra/src/master/lib/bin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u8eurPjtLP7h2SnyEm", oauth_nonce="4mgz4W7pRUH0Vc5HKCy2tEm9oCaRtoSg54BzjUiR8",
        oauth_signature="Hm84eanN1KThvK6LkPmWKOTnR%2BY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463065649", oauth_token="4z7JqQxS3NWAZgvYYN", oauth_version[...]
