---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/2.0/repositories/veye_test/fantom_hydra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u8eurPjtLP7h2SnyEm", oauth_nonce="tfRAQRsXO4i5sbAe4OqjUF2DT7SmLdTZSl2yWBbHdY",
        oauth_signature="LS%2Fi96d3qG5crixvelr%2BpgGSZVI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463061608", oauth_token="4z7JqQxS3NWAZgvYYN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - wiki, project, account, repository:admin, repository, project:write, issue:write,
        pullrequest:write, team, webhook, pullrequest, snippet, snippet:write, repository:write,
        team:write, account:write, issue, email
      Etag:
      - '"b0ad8d78dc45970d631601481a1072a9"'
      X-Static-Version:
      - a46a4511f80f
      X-Accepted-Oauth-Scopes:
      - repository
      X-Render-Time:
      - '0.271788835526'
      X-Request-Count:
      - '58'
      X-Version:
      - a46a4511f80f
    body:
      encoding: ASCII-8BIT
      string: '{"scm": "git", "website": "", "has_wiki": false, "name": "fantom_hydra",
        "links": {"watchers": {"href": "https://bitbucket.org/!api/2.0/repositories/veye_test/fantom_hydra/watchers"},
        "branches": {"href": "https://bitbucket.org/!api/2.0/repositories/veye_test/fantom_hydra/refs/branches"},
        "tags": {"href": "https://bitbucket.org/!api/2.0/repositories/veye_test/fantom_hydra/refs/tags"},
        "commits": {"href": "https://bitbucket.org/!api/2.0/repositories/veye_test/fantom_hydra/commits"},
        "clone": [{"href": "https://veye_test@bitbucket.org/veye_test/fantom_hydra.git",
        "name": "https"}, {"href": "ssh://git@bitbucket.org/veye_test/fantom_hydra.git",
        "name": "ssh"}], "self": {"href": "https://bitbucket.org/!api/2.0/repositories/veye_test/fantom_hydra"},
        "html": {"href": "https://bitbucket.org/veye_test/fantom_hydra"}, "avatar":
        {"href": "https://bitbucket.org/veye_test/fantom_hydra/avatar/32/"}, "hooks":
        {"href": "https://bitbucket.org/!api/2.0/repositories/veye_test/fantom_hydra/hooks"},
        "forks": {"href": "https://bitbucket.org/!api/2.0/repositories/veye_test/fantom_hydra/forks"},
        "downloads": {"href": "https://bitbucket.org/!api/2.0/repositories/veye_test/fantom_hydra/downloads"},
        "pullrequests": {"href": "https://bitbucket.org/!api/2.0/repositories/veye_test/fantom_hydra/pullrequests"}},
        "fork_policy": "no_public_forks", "uuid": "{93f0815b-d921-4100-83b5-bb21cd63ea57}",
        "language": "", "created_on": "2016-05-12T13:35:35.213541+00:00", "full_name":
        "veye_test/fantom_hydra", "has_issues": false, "owner": {"username": "veye_test",
        "display_name": "veye_test", "type": "user", "uuid": "{78cda96b-d463-4c9c-a91c-db5a4cc874c4}",
        "links": {"self": {"href": "https://bitbucket.org/!api/2.0/users/veye_test"},
        "html": {"href": "https://bitbucket.org/veye_test/"}, "avatar": {"href": "https://bitbucket.org/account/veye_test/avatar/32/"}}},
        "updated_on": "2016-05-12T13:42:52.262758+00:00", "size": 58466, "type": "repository",
        "is_private": true, "description": ""}'
  recorded_at: Thu, 12 May 2016 14:00:10 GMT
recorded_with: VCR 3.0.1
