---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/orgs?access_token=07d9d399f1a8ff3380a9eb8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3016'
      X-Ratelimit-Reset:
      - '1456664758'
      X-Oauth-Scopes:
      - public_repo, user:email
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"You need at least read:org scope or user scope to list
        your organizations.","documentation_url":"https://developer.github.com/v3/orgs/#list-your-organizations"}'
  recorded_at: Sun, 28 Feb 2016 13:03:00 GMT
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 07d9d399f1a8ff3380a9eb8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3015'
      X-Ratelimit-Reset:
      - '1456664758'
      Etag:
      - W/"38d2d95141595bac93b22a0a40410db1"
      Last-Modified:
      - Sun, 28 Feb 2016 09:54:22 GMT
      X-Oauth-Scopes:
      - public_repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"veye1test","id":10449954,"avatar_url":"https://avatars.githubusercontent.com/u/10449954?v=3","gravatar_id":"","url":"https://api.github.com/users/veye1test","html_url":"https://github.com/veye1test","followers_url":"https://api.github.com/users/veye1test/followers","following_url":"https://api.github.com/users/veye1test/following{/other_user}","gists_url":"https://api.github.com/users/veye1test/gists{/gist_id}","starred_url":"https://api.github.com/users/veye1test/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/veye1test/subscriptions","organizations_url":"https://api.github.com/users/veye1test/orgs","repos_url":"https://api.github.com/users/veye1test/repos","events_url":"https://api.github.com/users/veye1test/events{/privacy}","received_events_url":"https://api.github.com/users/veye1test/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":null,"hireable":null,"bio":null,"public_repos":4,"public_gists":0,"followers":0,"following":0,"created_at":"2015-01-08T13:14:33Z","updated_at":"2016-02-28T09:54:22Z"}'
  recorded_at: Sun, 28 Feb 2016 13:03:01 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=07d9d399f1a8ff3380a9eb8&page=1&per_page=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3014'
      X-Ratelimit-Reset:
      - '1456664758'
      Etag:
      - '"326917015a51056afb3b164155a5b246"'
      X-Oauth-Scopes:
      - public_repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":30957983,"name":"docker_web_ui","full_name":"veye1test/docker_web_ui","owner":{"login":"veye1test","id":10449954,"avatar_url":"https://avatars.githubusercontent.com/u/10449954?v=3","gravatar_id":"","url":"https://api.github.com/users/veye1test","html_url":"https://github.com/veye1test","followers_url":"https://api.github.com/users/veye1test/followers","following_url":"https://api.github.com/users/veye1test/following{/other_user}","gists_url":"https://api.github.com/users/veye1test/gists{/gist_id}","starred_url":"https://api.github.com/users/veye1test/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/veye1test/subscriptions","organizations_url":"https://api.github.com/users/veye1test/orgs","repos_url":"https://api.github.com/users/veye1test/repos","events_url":"https://api.github.com/users/veye1test/events{/privacy}","received_events_url":"https://api.github.com/users/veye1test/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/veye1test/docker_web_ui","description":"Web
        Interface for the Docker Remote API","fork":true,"url":"https://api.github.com/repos/veye1test/docker_web_ui","forks_url":"https://api.github.com/repos/veye1test/docker_web_ui/forks","keys_url":"https://api.github.com/repos/veye1test/docker_web_ui/keys{/key_id}","collaborators_url":"https://api.github.com/repos/veye1test/docker_web_ui/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/veye1test/docker_web_ui/teams","hooks_url":"https://api.github.com/repos/veye1test/docker_web_ui/hooks","issue_events_url":"https://api.github.com/repos/veye1test/docker_web_ui/issues/events{/number}","events_url":"https://api.github.com/repos/veye1test/docker_web_ui/events","assignees_url":"https://api.github.com/repos/veye1test/docker_web_ui/assignees{/user}","branches_url":"https://api.github.com/repos/veye1test/docker_web_ui/branches{/branch}","tags_url":"https://api.github.com/repos/veye1test/docker_web_ui/tags","blobs_url":"https://api.github.com/repos/veye1test/docker_web_ui/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/veye1test/docker_web_ui/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/veye1test/docker_web_ui/git/refs{/sha}","trees_url":"https://api.github.com/repos/veye1test/docker_web_ui/git/trees{/sha}","statuses_url":"https://api.github.com/repos/veye1test/docker_web_ui/statuses/{sha}","languages_url":"https://api.github.com/repos/veye1test/docker_web_ui/languages","stargazers_url":"https://api.github.com/repos/veye1test/docker_web_ui/stargazers","contributors_url":"https://api.github.com/repos/veye1test/docker_web_ui/contributors","subscribers_url":"https://api.github.com/repos/veye1test/docker_web_ui/subscribers","subscription_url":"https://api.github.com/repos/veye1test/docker_web_ui/subscription","commits_url":"https://api.github.com/repos/veye1test/docker_web_ui/commits{/sha}","git_commits_url":"https://api.github.com/repos/veye1test/docker_web_ui/git/commits{/sha}","comments_url":"https://api.github.com/repos/veye1test/docker_web_ui/comments{/number}","issue_comment_url":"https://api.github.com/repos/veye1test/docker_web_ui/issues/comments{/number}","contents_url":"https://api.github.com/repos/veye1test/docker_web_ui/contents/{+path}","compare_url":"https://api.github.com/repos/veye1test/docker_web_ui/compare/{base}...{head}","merges_url":"https://api.github.com/repos/veye1test/docker_web_ui/merges","archive_url":"https://api.github.com/repos/veye1test/docker_web_ui/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/veye1test/docker_web_ui/downloads","issues_url":"https://api.github.com/repos/veye1test/docker_web_ui/issues{/number}","pulls_url":"https://api.github.com/repos/veye1test/docker_web_ui/pulls{/number}","milestones_url":"https://api.github.com/repos/veye1test/docker_web_ui/milestones{/number}","notifications_url":"https://api.github.com/repos/veye1test/docker_web_ui/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/veye1test/docker_web_ui/labels{/name}","releases_url":"https://api.github.com/repos/veye1test/docker_web_ui/releases{/id}","deployments_url":"https://api.github.com/repos/veye1test/docker_web_ui/deployments","created_at":"2015-02-18T08:45:20Z","updated_at":"2015-02-18T08:45:20Z","pushed_at":"2014-12-23T20:17:26Z","git_url":"git://github.com/veye1test/docker_web_ui.git","ssh_url":"git@github.com:veye1test/docker_web_ui.git","clone_url":"https://github.com/veye1test/docker_web_ui.git","svn_url":"https://github.com/veye1test/docker_web_ui","homepage":null,"size":290,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":34668159,"name":"lev","full_name":"veye1test/lev","owner":{"login":"veye1test","id":10449954,"avatar_url":"https://avatars.githubusercontent.com/u/10449954?v=3","gravatar_id":"","url":"https://api.github.com/users/veye1test","html_url":"https://github.com/veye1test","followers_url":"https://api.github.com/users/veye1test/followers","following_url":"https://api.github.com/users/veye1test/following{/other_user}","gists_url":"https://api.github.com/users/veye1test/gists{/gist_id}","sta[...]
- request:
    method: get
    uri: https://api.github.com/repos/veye1test/docker_web_ui/branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 07d9d399f1a8ff3380a9eb8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3013'
      X-Ratelimit-Reset:
      - '1456664758'
      Etag:
      - '"682498bde275bc86ece4e66c8e061638"'
      X-Oauth-Scopes:
      - public_repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"master","commit":{"sha":"fceb1bbfbfae7e40001ddf1498b3db34821afe06","url":"https://api.github.com/repos/veye1test/docker_web_ui/commits/fceb1bbfbfae7e40001ddf1498b3db34821afe06"}}]'
  recorded_at: Sun, 28 Feb 2016 13:03:03 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/veye1test/docker_web_ui/git/trees/fceb1bbfbfae7e40001ddf1498b3db34821afe06?access_token=07d9d399f1a8ff3380a9eb8&recursive=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 07d9d399f1a8ff3380a9eb8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3011'
      X-Ratelimit-Reset:
      - '1456664758'
      Etag:
      - '"c7f1d6e27f9affb106fea742e231db9f"'
      Last-Modified:
      - Wed, 18 Feb 2015 08:45:20 GMT
      X-Oauth-Scopes:
      - public_repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"fceb1bbfbfae7e40001ddf1498b3db34821afe06","url":"https://api.github.com/repos/veye1test/docker_web_ui/git/trees/fceb1bbfbfae7e40001ddf1498b3db34821afe06","tree":[{"path":".gitignore","mode":"100644","type":"blob","sha":"1a2c94dc523491dd1b597c8b3bf3f93ab4b3bed7","size":425,"url":"https://api.github.com/repos/veye1test/docker_web_ui/git/blobs/1a2c94dc523491dd1b597c8b3bf3f93ab4b3bed7"},{"path":"Gemfile","mode":"100644","type":"blob","sha":"ee154fb99e4a98b6bcd0fd65e5f997340363ec2f","size":523,"url":"https://api.github.com/repos/veye1test/docker_web_ui/git/blobs/ee154fb99e4a98b6bcd0fd65e5f997340363ec2f"},{"path":"Gemfile.lock","mode":"100644","type":"blob","sha":"f3741f6976bda7a3b62ab61[...]
