---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 94593468f5c9e59718a259297
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4549'
      X-Ratelimit-Reset:
      - '1400047207'
      Last-Modified:
      - Wed, 14 May 2014 05:14:42 GMT
      Etag:
      - '"8f2cb5aac25bcc4878fc268cbf8c76b3"'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"reiz","id":652130,"avatar_url":"https://avatars.githubusercontent.com/u/652130?","gravatar_id":"11c3ac04d669661020cf80a822cd9620","url":"https://api.github.com/users/reiz","html_url":"https://github.com/reiz","followers_url":"https://api.github.com/users/reiz/followers","following_url":"https://api.github.com/users/reiz/following{/other_user}","gists_url":"https://api.github.com/users/reiz/gists{/gist_id}","starred_url":"https://api.github.com/users/reiz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/reiz/subscriptions","organizations_url":"https://api.github.com/users/reiz/orgs","repos_url":"https://api.github.com/users/reiz/repos","events_url":"https://api.github.com/users/reiz/events{/privacy}","received_events_url":"https://api.github.com/users/reiz/received_events","type":"User","site_admin":false,"name":"Robert
        Reiz","company":"VersionEye","blog":"https://www.versioneye.com","location":"Berlin","email":null,"hireable":false,"bio":"CEO
        @ VersionEye. http://versioneye.com keep tracks of versions. Follow your Software
        Libraries and get notified about new versions. Follow, Rate and Comment on
        over 100K Libraries. ","public_repos":31,"public_gists":3,"followers":22,"following":29,"created_at":"2011-03-05T05:19:20Z","updated_at":"2014-05-14T05:14:42Z"}'
  recorded_at: Wed, 14 May 2014 05:23:29 GMT
recorded_with: VCR 2.9.0
