---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories/reiz/test_gemi/raw/master/pom.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="HgSkE62pTT3HmxFGAm", oauth_nonce="7Kto5Avgja61xFkDDuURtIF934NmKRZp0BeoAbWky8g",
        oauth_signature="TkJfYILAU53LIzizw%2BgTuzCUuYM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1419106094", oauth_token="YsR6vM5qxmfZtkYt9G", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Render-Time:
      - '0.0527610778809'
      Content-Language:
      - en
      X-Request-Count:
      - '336'
      Last-Modified:
      - Sat, 20 Dec 2014 20:08:15 GMT
      X-Static-Version:
      - 47d73a9b2e15
      X-Version:
      - a82cad5ca720
    body:
      encoding: UTF-8
      string: "<project xmlns=\"http://maven.apache.org/POM/4.0.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \ xsi:schemaLocation=\"http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd\">\n\n\t<modelVersion>4.0.0</modelVersion>\n\t<groupId>org.ploin.pmf</groupId>\n\t<artifactId>ploinMailFactory</artifactId>\n\t<packaging>jar</packaging>\n\t<version>1.4.1</version>\n\t<name>ploinMailFactory</name>\n\t<url>http://www.ploinmailfactory.org</url>\n\t<description>Loadbalancing
        for Mail Sending</description>\n\t<organization>\n\t\t<name>PLOIN GmbH</name>\n\t\t<url>http://www.ploin-gmbh.de</url>\n\t</organization>\n\t<scm>\n\t\t<developerConnection>scm:svn:https://guest:guest@ploinscm.de/svn/ploinMailFactory/trunk</developerConnection>\n\t\t<url>https://ploinscm.de/svn/ploinMailFactory</url>\n\t</scm>\n\t<issueManagement>\n\t\t<system>SourceForge</system>\n\t\t<url>https://sourceforge.net/tracker/?group_id=255902&amp;atid=1127252</url>\n\t</issueManagement>\n\t<licenses>\n\t\t<license>\n\t\t\t<name>Apache
        License, Version 2.0</name>\n\t\t\t<url>http://www.apache.org/licenses/LICENSE-2.0.html</url>\n\t\t\t<distribution>repo</distribution>\n\t\t</license>\n\t</licenses>\n\t<developers>\n\t\t<developer>\n\t\t\t<id>r.reiz</id>\n\t\t\t<name>Robert
        Reiz</name>\n\t\t\t<email>reiz@ploin.de</email>\n\t\t\t<roles>\n\t\t\t\t<role>Project
        Manager</role>\n\t\t\t\t<role>Architect</role>\n\t\t\t</roles>\n\t\t\t<url>http://www.robert-reiz.de</url>\n\t\t\t<organization>PLOIN
        GmbH</organization>\n\t\t\t<organizationUrl>http://www.ploin-gmbh.de</organizationUrl>\n\t\t\t<timezone>+1</timezone>\n\t\t</developer>\n\t\t<developer>\n\t\t\t<id>j.schwarz</id>\n\t\t\t<name>Jochen
        Schwarz</name>\n\t\t\t<email>j.schwarz@ploin.de</email>\n\t\t\t<roles>\n\t\t\t\t<role>Developer</role>\n\t\t\t\t<role>Tester</role>\n\t\t\t\t<role>Docu</role>\n\t\t\t</roles>\n\t\t\t<organization>PLOIN
        GmbH</organization>\n\t\t\t<organizationUrl>http://www.ploin-gmbh.de</organizationUrl>\n\t\t\t<timezone>+1</timezone>\n\t\t</developer>\n\t</developers>\n\n\t<repositories>\n\t\t<repository>\n\t\t\t<id>PLOIN-Repo</id>\n\t\t\t<name>Nexus
        Public Mirror</name>\n\t\t\t<url>http://ploin-m2.de/nexus/content/groups/public</url>\n\t\t</repository>\n\t\t<repository>\n\t\t\t<id>java.net</id>\n\t\t\t<url>https://maven-repository.dev.java.net/nonav/repository</url>\n\t\t\t<layout>legacy</layout>\n\t\t</repository>\n\t\t<repository>\n\t\t\t<snapshots>\n\t\t\t\t<enabled>false</enabled>\n\t\t\t</snapshots>\n\t\t\t<id>central</id>\n\t\t\t<name>Maven
        Repository Switchboard</name>\n\t\t\t<url>http://repo1.maven.org/maven2</url>\n\t\t</repository>\n\t\t<repository>\n\t\t\t<id>maven2-repository.dev.java.net</id>\n\t\t\t<name>Java.net
        Repository for Maven 2</name>\n\t\t\t<url>http://download.java.net/maven/2/</url>\n\t\t\t<layout>default</layout>\n\t\t</repository>\n\t\t<repository>\n\t\t\t<id>repository.codehaus.org</id>\n\t\t\t<name>Codehaus
        Repository</name>\n\t\t\t<url>http://repository.codehaus.org/</url>\n\t\t</repository>\n\t</repositories>\n\n\t<properties>\n\t\t<cloverVersion>2.6.1</cloverVersion>\n\t\t<license>C:/.m2/clover.license</license>\n\t</properties>\n\n\t<reporting>\n\t\t<plugins>\n\t\t\t<plugin>\n\t\t\t\t<groupId>org.apache.maven.plugins</groupId>\n\t\t\t\t<artifactId>maven-project-info-reports-plugin</artifactId>\n\t\t\t\t<reportSets>\n\t\t\t\t\t<reportSet>\n\t\t\t\t\t\t<reports>\n\t\t\t\t\t\t\t<report>dependencies</report>\n\t\t\t\t\t\t\t<report>project-team</report>\n\t\t\t\t\t\t\t<report>summary</report>\n\t\t\t\t\t\t\t<report>license</report>\n\t\t\t\t\t\t\t<report>scm</report>\n\t\t\t\t\t\t</reports>\n\t\t\t\t\t</reportSet>\n\t\t\t\t</reportSets>\n\t\t\t</plugin>\n\t\t\t<plugin>\n\t\t\t\t<groupId>org.apache.maven.plugins</groupId>\n\t\t\t\t<artifactId>maven-javadoc-plugin</artifactId>\n\t\t\t</plugin>\n\t\t\t<plugin>\n\t\t\t\t<groupId>org.apache.maven.plugins</groupId>\n\t\t\t\t<artifactId>maven-surefire-report-plugin</artifactId>\n\t\t\t\t<version>2.4.2</version>\n\t\t\t</plugin>\n\t\t\t<plugin>\n\t\t\t\t<groupId>org.apache.maven.plugins</groupId>\n\t\t\t\t<artifactId>maven-pmd-plugin</artifactId>\n\t\t\t\t<version>2.3</version>\n\t\t\t\t<configuration>\n\t\t\t\t\t<linkXref>false</linkXref>\n\t\t\t\t\t<sourceEncoding>utf-8</sourceEncoding>\n\t\t\t\t\t<minimumTokens>100</minimumTokens>\n\t\t\t\t\t<targetJdk>1.5</targetJdk>\n\t\t\t\t</configuration>\n\t\t\t</plugin>\n\t\t\t<plugin>\n\t\t\t\t<groupId>com.atlassian.maven.plugins</groupId>\n\t\t\t\t<artifactId>maven-clover2-plugin</artifactId>\n\t\t\t\t<version>${cloverVersion}</version>\n\t\t\t\t<configuration>\n\t\t\t\t\t<licenseLocation>${license}</licenseLocation>\n\t\t\t\t\t<jdk>1.5</jdk>\n\t\t\t\t</configuration>\n\t\t\t</plugin>\n\t\t</plugins>\n\t</reporting>\n\n\t<build>\n\t\t<plugins>\n\t\t\t<plugin>\n\t\t\t\t<groupId>org.apache.maven.plugins</groupId>\n\t\t\t\t<artifactId>maven-compiler-plugin</artifactId>\n\t\t\t\t<version>2.0.2</version>\n\t\t\t\t<configuration>\n\t\t\t\t\t<source>1.5</source>\n\t\t\t\t\t<target>1.5</target>\n\t\t\t\t</configuration>\n\t\t\t</plugin>\n\t\t\t<plugin>\n\t\t\t\t<groupId>org.apache.maven.plugins</groupId>\n\t\t\t\t<artifactId>maven-javadoc-plugin</artifactId>\n\t\t\t\t<executions>\n\t\t\t\t\t<execution>\n\t\t\t\t\t\t<id>attach-javadoc</id>\n\t\t\t\t\t\t<goals>\n\t\t\t\t\t\t\t<goal>jar</goal>\n\t\t\t\t\t\t</goals>\n\t\t\t\t\t</execution>\n\t\t\t\t</executions>\n\t\t\t</plugin>\n\t\t\t<plugin>\n\t\t\t\t<groupId>org.apache.maven.plugins</groupId>\n\t\t\t\t<artifactId>maven-source-plugin</artifactId>\n\t\t\t\t<executions>\n\t\t\t\t\t<execution>\n\t\t\t\t\t\t<id>attach-sources</id>\n\t\t\t\t\t\t<goals>\n\t\t\t\t\t\t\t<goal>jar</goal>\n\t\t\t\t\t\t</goals>\n\t\t\t\t\t</execution>\n\t\t\t\t</executions>\n\t\t\t</plugin>\n\t\t\t<plugin>\n\t\t\t\t<groupId>com.atlassian.maven.plugins</groupId>\n\t\t\t\t<artifactId>maven-clover2-plugin</artifactId>\n\t\t\t\t<version>${cloverVersion}</version>\n\t\t\t\t<configuration>\n\t\t\t\t\t<licenseLocation>${license}</licenseLocation>\n\t\t\t\t\t<targetPercentage>70%</targetPercentage>\n\t\t\t\t\t<jdk>1.5</jdk>\n\t\t\t\t\t<executions>\n\t\t\t\t\t\t<execution>\n\t\t\t\t\t\t\t<phase>verify</phase>\n\t\t\t\t\t\t\t<goals>\n\t\t\t\t\t\t\t\t<goal>instrument</goal>\n\t\t\t\t\t\t\t\t<goal>check</goal>\n\t\t\t\t\t\t\t</goals>\n\t\t\t\t\t\t</execution>\n\t\t\t\t\t</executions>\n\t\t\t\t</configuration>\n\t\t\t</plugin>\n\t\t</plugins>\n\t</build>\n\t\n\t<properties>\n\t\t<junitVersion>4.4</junitVersion>\n\t</properties>\n\n\t\n\t<dependencies>\n\t\t<dependency>\n\t\t\t<groupId>junit</groupId>\n\t\t\t<artifactId>junit</artifactId>\n\t\t\t<version>${junitVersion}</version>\n\t\t\t<scope>test</scope>\n\t\t</dependency>\n\t\t<dependency>\n\t\t\t<groupId>commons-logging</groupId>\n\t\t\t<artifactId>commons-logging</artifactId>\n\t\t\t<version>1.1</version>\n\t\t\t<scope>compile</scope>\n\t\t</dependency>\n\t\t<dependency>\n\t\t\t<groupId>commons-logging</groupId>\n\t\t\t<artifactId>commons-logging-api</artifactId>\n\t\t\t<version>1.1</version>\n\t\t\t<scope>compile</scope>\n\t\t</dependency>\n\t\t<dependency>\n\t\t\t<groupId>logy4j</groupId>\n\t\t\t<artifactId>log4j</artifactId>\n\t\t\t<version>1.2.15</version>\n\t\t\t<scope>compile</scope>\n\t\t</dependency>\n\t\t<dependency>\n\t\t\t<groupId>javax.mail</groupId>\n\t\t\t<artifactId>mail</artifactId>\n\t\t\t<version>1.4</version>\n\t\t\t<scope>compile</scope>\n\t\t</dependency>\n\t\t<dependency>\n\t\t\t<groupId>org.apache.commons</groupId>\n\t\t\t<artifactId>commons-email</artifactId>\n\t\t\t<version>1.2</version>\n\t\t\t<scope>compile</scope>\n\t\t</dependency>\n\t</dependencies>\n\n</project>\n"
  recorded_at: Sat, 20 Dec 2014 20:08:15 GMT
recorded_with: VCR 2.9.3
