---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye_maven_plugin?access_token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Reset:
      - '1419105130'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Sat, 20 Dec 2014 18:56:49 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye_maven_plugin/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1419105130'
      Etag:
      - '"b02844883b0d5300ddc18f9e1b32bd90"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"master","commit":{"sha":"652da0ce7b972edd274e85c07cea5f193b859a58","commit":{"author":{"name":"reiz","email":"robert.reiz.81@gmail.com","date":"2014-11-15T21:54:06Z"},"committer":{"name":"reiz","email":"robert.reiz.81@gmail.com","date":"2014-11-15T21:54:06Z"},"message":"Update
        httpclient","tree":{"sha":"a988ebb1dc357c90ff10d0e6cf6d92bdad6b536e","url":"https://api.github.com/repos/versioneye/versioneye_maven_plugin/git/trees/a988ebb1dc357c90ff10d0e6cf6d92bdad6b536e"},"url":"https://api.github.com/repos/versioneye/versioneye_maven_plugin/git/commits/652da0ce7b972edd274e85c07cea5f193b859a58","comment_count":0},"url":"https://api.github.com/repos/versioneye/versioneye_maven_plugin/commits/652da0ce7b972edd274e85c07cea5f193b859a58","html_url":"https://github.com/versioneye/versioneye_maven_plugin/commit/652da0ce7b972edd274e85c07cea5f193b859a58","comments_url":"https://api.github.com/repos/versioneye/versioneye_maven_plugin/commits/652da0ce7b972edd274e85c07cea5f193b859a58/comments","author":{"login":"reiz","id":652130,"avatar_url":"https://avatars.githubusercontent.com/u/652130?v=3","gravatar_id":"","url":"https://api.github.com/users/reiz","html_url":"https://github.com/reiz","followers_url":"https://api.github.com/users/reiz/followers","following_url":"https://api.github.com/users/reiz/following{/other_user}","gists_url":"https://api.github.com/users/reiz/gists{/gist_id}","starred_url":"https://api.github.com/users/reiz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/reiz/subscriptions","organizations_url":"https://api.github.com/users/reiz/orgs","repos_url":"https://api.github.com/users/reiz/repos","events_url":"https://api.github.com/users/reiz/events{/privacy}","received_events_url":"https://api.github.com/users/reiz/received_events","type":"User","site_admin":false},"committer":{"login":"reiz","id":652130,"avatar_url":"https://avatars.githubusercontent.com/u/652130?v=3","gravatar_id":"","url":"https://api.github.com/users/reiz","html_url":"https://github.com/reiz","followers_url":"https://api.github.com/users/reiz/followers","following_url":"https://api.github.com/users/reiz/following{/other_user}","gists_url":"https://api.github.com/users/reiz/gists{/gist_id}","starred_url":"https://api.github.com/users/reiz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/reiz/subscriptions","organizations_url":"https://api.github.com/users/reiz/orgs","repos_url":"https://api.github.com/users/reiz/repos","events_url":"https://api.github.com/users/reiz/events{/privacy}","received_events_url":"https://api.github.com/users/reiz/received_events","type":"User","site_admin":false},"parents":[{"sha":"b3dea7b6a43d2d944b8e905a5183d4a7a11c5478","url":"https://api.github.com/repos/versioneye/versioneye_maven_plugin/commits/b3dea7b6a43d2d944b8e905a5183d4a7a11c5478","html_url":"https://github.com/versioneye/versioneye_maven_plugin/commit/b3dea7b6a43d2d944b8e905a5183d4a7a11c5478"}]},"_links":{"self":"https://api.github.com/repos/versioneye/versioneye_maven_plugin/branches/master","html":"https://github.com/versioneye/versioneye_maven_plugin/tree/master"}}'
  recorded_at: Sat, 20 Dec 2014 18:56:50 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye_maven_plugin/git/trees/652da0ce7b972edd274e85c07cea5f193b859a58?recursive=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1419105130'
      Last-Modified:
      - Fri, 12 Dec 2014 16:58:49 GMT
      Etag:
      - '"1090569c3c09095d336645eeadefbc42"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"652da0ce7b972edd274e85c07cea5f193b859a58","url":"https://api.github.com/repos/versioneye/versioneye_maven_plugin/git/trees/652da0ce7b972edd274e85c07cea5f193b859a58","tree":[{"path":".gitignore","mode":"100644","type":"blob","sha":"118ca45c400d7de95ee012272dac32fea090181e","size":286,"url":"https://api.github.com/repos/versioneye/versioneye_maven_plugin/git/blobs/118ca45c400d7de95ee012272dac32fea090181e"},{"path":"README.md","mode":"100644","type":"blob","sha":"97aacfd1e336ab35ce904e72548753838462ed14","size":11474,"url":"https://api.github.com/repos/versioneye/versioneye_maven_plugin/git/blobs/97aacfd1e336ab35ce904e72548753838462ed14"},{"path":"pom.xml","mode":"100644","type":"blob","sha":"b15176e8f4a497a7cc952bea6843d0b8bef97258","size":5564,"url":"https://api.github.c[...]
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye_maven_plugin/git/blobs/b15176e8f4a497a7cc952bea6843d0b8bef97258
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1419105130'
      Etag:
      - '"9896e4498fdfa48e909830f955fb349b"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"b15176e8f4a497a7cc952bea6843d0b8bef97258","size":5564,"url":"https://api.github.com/repos/versioneye/versioneye_maven_plugin/git/blobs/b15176e8f4a497a7cc952bea6843d0b8bef97258","content":"PHByb2plY3QgeG1sbnM9Imh0dHA6Ly9tYXZlbi5hcGFjaGUub3JnL1BPTS80\nLjAuMCIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNj\naGVtYS1pbnN0YW5jZSIKICB4c2k6c2NoZW1hTG9jYXRpb249Imh0dHA6Ly9t\nYXZlbi5hcGFjaGUub3JnL1BPTS80LjAuMCBodHRwOi8vbWF2ZW4uYXBhY2hl\nLm9yZy94c2QvbWF2ZW4tNC4wLjAueHNkIj4KICA8bW9kZWxWZXJzaW9uPjQu\nMC4wPC9tb2RlbFZlcnNpb24+CgogIDwhLS0gRG9lc24ndCB3b3JrIG9uIHBy\nZXZpb3VzIHZlcnNpb25zIGJlY2F1c2Ugb2YgRWNsaXBzZS9Tb25hdHlwZSBB\nZXRoZXIgaW5jb21wYXRpYmlsaXR5LiAtLT4KICA8cHJlcmVxdWlzaXRlcz4K\nICA[...]
