---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/docker_web_ui?access_token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1419105130'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Sat, 20 Dec 2014 18:52:11 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/docker_web_ui/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1419105130'
      Etag:
      - '"a6ce675d2221e8c11b144772890733b7"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"master","commit":{"sha":"6faae614a9a322d23f759636822f993c4b700b22","commit":{"author":{"name":"Robert
        Reiz","email":"robert.reiz.81@gmail.com","date":"2014-11-30T16:37:55Z"},"committer":{"name":"Robert
        Reiz","email":"robert.reiz.81@gmail.com","date":"2014-11-30T16:37:55Z"},"message":"Merge
        pull request #1 from xing/fix_typo\n\ns/Locale/Local/","tree":{"sha":"78d18eeb1418db0031cd4f8da4a4cd2e5f9d0ad1","url":"https://api.github.com/repos/versioneye/docker_web_ui/git/trees/78d18eeb1418db0031cd4f8da4a4cd2e5f9d0ad1"},"url":"https://api.github.com/repos/versioneye/docker_web_ui/git/commits/6faae614a9a322d23f759636822f993c4b700b22","comment_count":0},"url":"https://api.github.com/repos/versioneye/docker_web_ui/commits/6faae614a9a322d23f759636822f993c4b700b22","html_url":"https://github.com/versioneye/docker_web_ui/commit/6faae614a9a322d23f759636822f993c4b700b22","comments_url":"https://api.github.com/repos/versioneye/docker_web_ui/commits/6faae614a9a322d23f759636822f993c4b700b22/comments","author":{"login":"reiz","id":652130,"avatar_url":"https://avatars.githubusercontent.com/u/652130?v=3","gravatar_id":"","url":"https://api.github.com/users/reiz","html_url":"https://github.com/reiz","followers_url":"https://api.github.com/users/reiz/followers","following_url":"https://api.github.com/users/reiz/following{/other_user}","gists_url":"https://api.github.com/users/reiz/gists{/gist_id}","starred_url":"https://api.github.com/users/reiz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/reiz/subscriptions","organizations_url":"https://api.github.com/users/reiz/orgs","repos_url":"https://api.github.com/users/reiz/repos","events_url":"https://api.github.com/users/reiz/events{/privacy}","received_events_url":"https://api.github.com/users/reiz/received_events","type":"User","site_admin":false},"committer":{"login":"reiz","id":652130,"avatar_url":"https://avatars.githubusercontent.com/u/652130?v=3","gravatar_id":"","url":"https://api.github.com/users/reiz","html_url":"https://github.com/reiz","followers_url":"https://api.github.com/users/reiz/followers","following_url":"https://api.github.com/users/reiz/following{/other_user}","gists_url":"https://api.github.com/users/reiz/gists{/gist_id}","starred_url":"https://api.github.com/users/reiz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/reiz/subscriptions","organizations_url":"https://api.github.com/users/reiz/orgs","repos_url":"https://api.github.com/users/reiz/repos","events_url":"https://api.github.com/users/reiz/events{/privacy}","received_events_url":"https://api.github.com/users/reiz/received_events","type":"User","site_admin":false},"parents":[{"sha":"672b651ff263faceb455ae64582cca7ed59a20f9","url":"https://api.github.com/repos/versioneye/docker_web_ui/commits/672b651ff263faceb455ae64582cca7ed59a20f9","html_url":"https://github.com/versioneye/docker_web_ui/commit/672b651ff263faceb455ae64582cca7ed59a20f9"},{"sha":"0ea87271c74875d4af5707dd02d78715ac829de3","url":"https://api.github.com/repos/versioneye/docker_web_ui/commits/0ea87271c74875d4af5707dd02d78715ac829de3","html_url":"https://github.com/versioneye/docker_web_ui/commit/0ea87271c74875d4af5707dd02d78715ac829de3"}]},"_links":{"self":"https://api.github.com/repos/versioneye/docker_web_ui/branches/master","html":"https://github.com/versioneye/docker_web_ui/tree/master"}}'
  recorded_at: Sat, 20 Dec 2014 18:52:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/docker_web_ui/git/trees/6faae614a9a322d23f759636822f993c4b700b22?recursive=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1419105130'
      Last-Modified:
      - Thu, 04 Dec 2014 17:42:44 GMT
      Etag:
      - '"4ab4e373d3d525fdf58165c181c58d77"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"6faae614a9a322d23f759636822f993c4b700b22","url":"https://api.github.com/repos/versioneye/docker_web_ui/git/trees/6faae614a9a322d23f759636822f993c4b700b22","tree":[{"path":".gitignore","mode":"100644","type":"blob","sha":"1a2c94dc523491dd1b597c8b3bf3f93ab4b3bed7","size":425,"url":"https://api.github.com/repos/versioneye/docker_web_ui/git/blobs/1a2c94dc523491dd1b597c8b3bf3f93ab4b3bed7"},{"path":"Gemfile","mode":"100644","type":"blob","sha":"3714804e12534f17821bc0ede25bbe3d196cdef2","size":523,"url":"https://api.github.com/repos/versioneye/docker_web_ui/git/blobs/3714804e12534f17821bc0ede25bbe3d196cdef2"},{"path":"Gemfile.lock","mode":"100644","type":"blob","sha":"f2438345c6bb12763a86579b720d2f421e56c0b0","size":3250,"url":"https://api.github.com/repos/versioneye[...]
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/docker_web_ui/git/blobs/3714804e12534f17821bc0ede25bbe3d196cdef2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1419105130'
      Etag:
      - '"8df865869c89288d3d27f5293c8100fd"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"3714804e12534f17821bc0ede25bbe3d196cdef2","size":523,"url":"https://api.github.com/repos/versioneye/docker_web_ui/git/blobs/3714804e12534f17821bc0ede25bbe3d196cdef2","content":"c291cmNlICdodHRwczovL3J1YnlnZW1zLm9yZycKCmdlbSAncmFpbHMnLCAn\nNC4xLjEnCmdlbSAnc2Fzcy1yYWlscycsICd+PiA0LjAuMycKZ2VtICd1Z2xp\nZmllcicsICc+PSAxLjMuMCcKZ2VtICdjb2ZmZWUtcmFpbHMnLCAnfj4gNC4w\nLjAnCmdlbSAndGhlcnVieXJhY2VyJywgIHBsYXRmb3JtczogOnJ1YnkKCmdl\nbSAnanF1ZXJ5LXJhaWxzJwpnZW0gJ3R1cmJvbGlua3MnCmdlbSAnamJ1aWxk\nZXInLCAnfj4gMi4wJwpnZW0gJ3Nkb2MnLCAnfj4gMC40LjAnLCAgICAgICAg\nICBncm91cDogOmRvYwoKIyBTcHJpbmcgc3BlZWRzIHVwIGRldmVsb3BtZW50\nIGJ5IGtlZXBpbmcgeW91ciBhcHBsaWNhdGlvbiBydW5uaW5nIGluIHRoZSBi\nYWNrZ3JvdW5kLiBSZWFkIG1vcmU6IGh0dHBzOi8vZ2l0aHViLmNvbS9yYWls\ncy9zcHJpbmcKZ2VtICdzcHJpbmcnLCAgICAgICAgZ3JvdXA6IDpkZXZlbG9w\nbWVudAoKZ2VtICd1bmljb3JuJyAgICAgICAgICAgICAgLCAnfj4gNC44LjIn\nCmdlbSAnZG9ja2VyLWFwaScsICcxLjEzLjAnCg==\n","encoding":"base64"}'
  recorded_at: Sat, 20 Dec 2014 18:52:13 GMT
[...]
