---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye-core?access_token=666666666666777777777777777
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1423346505'
      Last-Modified:
      - Fri, 06 Feb 2015 18:55:17 GMT
      Etag:
      - '"1e4245f41c81c064d9088cc22bddb06e"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":16435482,"name":"versioneye-core","full_name":"versioneye/versioneye-core","owner":{"login":"versioneye","id":3974102,"avatar_url":"https://avatars.githubusercontent.com/u/3974102?v=3","gravatar_id":"","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"private":true,"html_url":"https://github.com/versioneye/versioneye-core","description":"Models,
        Services & Mails for VersionEye","fork":false,"url":"https://api.github.com/repos/versioneye/versioneye-core","forks_url":"https://api.github.com/repos/versioneye/versioneye-core/forks","keys_url":"https://api.github.com/repos/versioneye/versioneye-core/keys{/key_id}","collaborators_url":"https://api.github.com/repos/versioneye/versioneye-core/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/versioneye/versioneye-core/teams","hooks_url":"https://api.github.com/repos/versioneye/versioneye-core/hooks","issue_events_url":"https://api.github.com/repos/versioneye/versioneye-core/issues/events{/number}","events_url":"https://api.github.com/repos/versioneye/versioneye-core/events","assignees_url":"https://api.github.com/repos/versioneye/versioneye-core/assignees{/user}","branches_url":"https://api.github.com/repos/versioneye/versioneye-core/branches{/branch}","tags_url":"https://api.github.com/repos/versioneye/versioneye-core/tags","blobs_url":"https://api.github.com/repos/versioneye/versioneye-core/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/versioneye/versioneye-core/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/versioneye/versioneye-core/git/refs{/sha}","trees_url":"https://api.github.com/repos/versioneye/versioneye-core/git/trees{/sha}","statuses_url":"https://api.github.com/repos/versioneye/versioneye-core/statuses/{sha}","languages_url":"https://api.github.com/repos/versioneye/versioneye-core/languages","stargazers_url":"https://api.github.com/repos/versioneye/versioneye-core/stargazers","contributors_url":"https://api.github.com/repos/versioneye/versioneye-core/contributors","subscribers_url":"https://api.github.com/repos/versioneye/versioneye-core/subscribers","subscription_url":"https://api.github.com/repos/versioneye/versioneye-core/subscription","commits_url":"https://api.github.com/repos/versioneye/versioneye-core/commits{/sha}","git_commits_url":"https://api.github.com/repos/versioneye/versioneye-core/git/commits{/sha}","comments_url":"https://api.github.com/repos/versioneye/versioneye-core/comments{/number}","issue_comment_url":"https://api.github.com/repos/versioneye/versioneye-core/issues/comments/{number}","contents_url":"https://api.github.com/repos/versioneye/versioneye-core/contents/{+path}","compare_url":"https://api.github.com/repos/versioneye/versioneye-core/compare/{base}...{head}","merges_url":"https://api.github.com/repos/versioneye/versioneye-core/merges","archive_url":"https://api.github.com/repos/versioneye/versioneye-core/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/versioneye/versioneye-core/downloads","issues_url":"https://api.github.com/repos/versioneye/versioneye-core/issues{/number}","pulls_url":"https://api.github.com/repos/versioneye/versioneye-core/pulls{/number}","milestones_url":"https://api.github.com/repos/versioneye/versioneye-core/milestones{/number}","notifications_url":"https://api.github.com/repos/versioneye/versioneye-core/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/versioneye/versioneye-core/labels{/name}","releases_url":"https://api.github.com/repos/versioneye/versioneye-core/releases{/id}","created_at":"2014-02-01T14:37:29Z","updated_at":"2015-02-06T18:55:17Z","pushed_at":"2015-02-06T18:55:17Z","git_url":"git://github.com/versioneye/versioneye-core.git","ssh_url":"git@github.com:versioneye/versioneye-core.git","clone_url":"https://github.com/versioneye/versioneye-core.git","svn_url":"https://github.com/versioneye/versioneye-core","homepage":"","size":5868,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"organization":{"login":"versioneye","id":3974102,"avatar_url":"https://avatars.githubusercontent.com/u/3974102?v=3","gravatar_id":"","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":2}'
  recorded_at: Sat, 07 Feb 2015 21:25:46 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye-core/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 666666666666777777777777777
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1423346505'
      Etag:
      - '"aee2868a3a706f823a3da53de617c36c"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"master","commit":{"sha":"5e5e7d977926d9d239b0356548b6c2c6f6610202","commit":{"author":{"name":"reiz","email":"robert.reiz.81@gmail.com","date":"2015-02-06T18:55:02Z"},"committer":{"name":"reiz","email":"robert.reiz.81@gmail.com","date":"2015-02-06T18:55:02Z"},"message":"Update
        bunny.","tree":{"sha":"9e46e407142925644e7d679fe8b15e1eecb8c775","url":"https://api.github.com/repos/versioneye/versioneye-core/git/trees/9e46e407142925644e7d679fe8b15e1eecb8c775"},"url":"https://api.github.com/repos/versioneye/versioneye-core/git/commits/5e5e7d977926d9d239b0356548b6c2c6f6610202","comment_count":0},"url":"https://api.github.com/repos/versioneye/versioneye-core/commits/5e5e7d977926d9d239b0356548b6c2c6f6610202","html_url":"https://github.com/versioneye/versioneye-core/commit/5e5e7d977926d9d239b0356548b6c2c6f6610202","comments_url":"https://api.github.com/repos/versioneye/versioneye-core/commits/5e5e7d977926d9d239b0356548b6c2c6f6610202/comments","author":{"login":"reiz","id":652130,"avatar_url":"https://avatars.githubusercontent.com/u/652130?v=3","gravatar_id":"","url":"https://api.github.[...]
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye-core/git/trees/5e5e7d977926d9d239b0356548b6c2c6f6610202?recursive=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 666666666666777777777777777
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1423346505'
      Last-Modified:
      - Fri, 06 Feb 2015 18:55:17 GMT
      Etag:
      - '"33f9944b6914377523aa9f65d8592f52"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"5e5e7d977926d9d239b0356548b6c2c6f6610202","url":"https://api.github.com/repos/versioneye/versioneye-core/git/trees/5e5e7d977926d9d239b0356548b6c2c6f6610202","tree":[{"path":".document","mode":"100644","type":"blob","sha":"3d618dd8f9f5ca984d7cb1e756aaa97b0b7b03a9","size":55,"url":"https://api.github.com/repos/versioneye/versioneye-core/git/blobs/3d618dd8f9f5ca984d7cb1e756aaa97b0b7b03a9"},{"path":".gitignore","mode":"100644","type":"blob","sha":"e6c7ddc3c0c7c66df6cbd073f386d7f9dd6e16e8","size":1140,"url":"https://api.github.com/repos/versioneye/versioneye-core/git/blobs/e6c7ddc3c0c7c66df6cbd073f386d7f9dd6e16e8"},{"path":".ruby-version","mode":"100644","type":"blob","sha":"cd57a8b95d6d1[...]
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye-core/git/blobs/2187ad979ddb37aabedd57a6b92e5556709339e9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 666666666666777777777777777
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1423346505'
      Etag:
      - '"97fa60875764207c1f6de4329a069530"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"2187ad979ddb37aabedd57a6b92e5556709339e9","size":1428,"url":"https://api.github.com/repos/versioneye/versioneye-core/git/blobs/2187ad979ddb37aabedd57a6b92e5556709339e9","content":"c291cmNlICJodHRwOi8vcnVieWdlbXMub3JnIgoKZ2VtICduYXR1cmFsc29y\ndGVyJyAgICAgICwgJ34+IDMuMC4xJwoKZ2VtICdidW5kbGVyJyAgICAgICAg\nICAgICwgJ34+IDEuNy4xMScKZ2VtICdtb25nb2lkJyAgICAgICAgICAgICwg\nJ34+IDMuMS4wJwpnZW0gJ2xvZzRyJyAgICAgICAgICAgICAgLCAnfj4gMS4x\nLjAnCmdlbSAnZGFsbGknICAgICAgICAgICAgICAsICd+PiAyLjcuMCcKZ2Vt\nICdrZ2lvJyAgICAgICAgICAgICAgICwgJ34+IDIuOS4wJyAgICMgMjAlIHBl\ncmZvcm1hbmNlIGJvb3N0IGZvciBkYWxsaQpnZW0gJ29hdXRoJyAgICAgICAg\nICAgICAgLCAnfj4gMC40LjcnCmdlbSAnYXdzLXNkaycgICAgICAgICAgICAs\nICd[...]
