---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye-core?access_token=666666666666777777777777777
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 666666666666777777777777777
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1423346505'
      Last-Modified:
      - Fri, 06 Feb 2015 18:55:17 GMT
      Etag:
      - '"9bede64fe8e6c5df61b271c3eebf7c3d"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 50fb47103b8a3f03b2cd
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":16435482,"name":"versioneye-core","full_name":"versioneye/versioneye-core","owner":{"login":"versioneye","id":3974102,"avatar_url":"https://avatars.githubusercontent.com/u/3974102?v=3","gravatar_id":"","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"private":true,"html_url":"https://github.com/versioneye/versioneye-core","description":"Models,
        Services & Mails for VersionEye","fork":false,"url":"https://api.github.com/repos/versioneye/versioneye-core","forks_url":"https://api.github.com/repos/versioneye/versioneye-core/forks","keys_url":"https://api.github.com/repos/versioneye/versioneye-core/keys{/key_id}","collaborators_url":"https://api.github.com/repos/versioneye/versioneye-core/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/versioneye/versioneye-core/teams","hooks_url":"https://api.github.com/repos/versioneye/versioneye-core/hooks","issue_events_url":"https://api.github.com/repos/versioneye/versioneye-core/issues/events{/number}","events_url":"https://api.github.com/repos/versioneye/versioneye-core/events","assignees_url":"https://api.github.com/repos/versioneye/versioneye-core/assignees{/user}","branches_url":"https://api.github.com/repos/versioneye/versioneye-core/branches{/branch}","tags_url":"https://api.github.com/repos/versioneye/versioneye-core/tags","blobs_url":"https://api.github.com/repos/versioneye/versioneye-core/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/versioneye/versioneye-core/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/versioneye/versioneye-core/git/refs{/sha}","trees_url":"https://api.github.com/repos/versioneye/versioneye-core/git/trees{/sha}","statuses_url":"https://api.github.com/repos/versioneye/versioneye-core/statuses/{sha}","languages_url":"https://api.github.com/repos/versioneye/versioneye-core/languages","stargazers_url":"https://api.github.com/repos/versioneye/versioneye-core/stargazers","contributors_url":"https://api.github.com/repos/versioneye/versioneye-core/contributors","subscribers_url":"https://api.github.com/repos/versioneye/versioneye-core/subscribers","subscription_url":"https://api.github.com/repos/versioneye/versioneye-core/subscription","commits_url":"https://api.github.com/repos/versioneye/versioneye-core/commits{/sha}","git_commits_url":"https://api.github.com/repos/versioneye/versioneye-core/git/commits{/sha}","comments_url":"https://api.github.com/repos/versioneye/versioneye-core/comments{/number}","issue_comment_url":"https://api.github.com/repos/versioneye/versioneye-core/issues/comments/{number}","contents_url":"https://api.github.com/repos/versioneye/versioneye-core/contents/{+path}","compare_url":"https://api.github.com/repos/versioneye/versioneye-core/compare/{base}...{head}","merges_url":"https://api.github.com/repos/versioneye/versioneye-core/merges","archive_url":"https://api.github.com/repos/versioneye/versioneye-core/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/versioneye/versioneye-core/downloads","issues_url":"https://api.github.com/repos/versioneye/versioneye-core/issues{/number}","pulls_url":"https://api.github.com/repos/versioneye/versioneye-core/pulls{/number}","milestones_url":"https://api.github.com/repos/versioneye/versioneye-core/milestones{/number}","notifications_url":"https://api.github.com/repos/versioneye/versioneye-core/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/versioneye/versioneye-core/labels{/name}","releases_url":"https://api.github.com/repos/versioneye/versioneye-core/releases{/id}","created_at":"2014-02-01T14:37:29Z","updated_at":"2015-02-06T18:55:17Z","pushed_at":"2015-02-06T18:55:17Z","git_url":"git://github.com/versioneye/versioneye-core.git","ssh_url":"git@github.com:versioneye/versioneye-core.git","clone_url":"https://github.com/versioneye/versioneye-core.git","svn_url":"https://github.com/versioneye/versioneye-core","homepage":"","size":5868,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"organization":{"login":"versioneye","id":3974102,"avatar_url":"https://avatars.githubusercontent.com/u/3974102?v=3","gravatar_id":"","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":2}'
  recorded_at: Sat, 07 Feb 2015 21:27:54 GMT
recorded_with: VCR 2.9.3
