---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php/versions?api_key=b7f7c65e66d38f511
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"868e9cc75e7d88f69c69d8fca71b838a"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"3.9.2","prod_type":"composer","versions":[{"version":"2.0.0","released_at":"2012-11-02T17:39:58.000+00:00","released_string":"2012-11-02T17:39:58+00:00"},{"version":"2.0.1","released_at":"2012-11-13T23:11:30.000+00:00","released_string":"2012-11-13T23:11:30+00:00"},{"version":"dev-elasticbeanstalk","released_at":"2012-11-16T06:37:45.000+00:00","released_string":"2012-11-16T06:37:45+00:00"},{"version":"dev-minimized_descriptions","released_at":"2012-12-07T01:51:38.000+00:00","released_string":"2012-12-07T01:51:38+00:00"},{"version":"dev-docs","released_at":"2012-12-11T07:10:29.000+00:00","released_string":"2012-12-11T0[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=2.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3183f9eba1c0d7dceb675400c0983f10"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"2.0.0","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"Apache-2.0","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2012-11-02T17:39:58.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"3.0.*","parsed_version":"3.0.7","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.2","parsed_version":"5.6.15","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[{"name":"Apache-2.0","url":null}],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"},{"name":"Homepage","link":"http://aws.amazon.com/sdkforphp2"},{"name":"Source","link":"https://github.com/aws/aws-sdk-php"}],"archives":[{"name":"aws/aws-sdk-php.zip","link":"https://github.com/aws/aws-sdk-php/archive/2.0.0.zip"},{"name":"aws/aws-sdk-php.zip","link":"https://api.github.com/repos/aws/aws-sdk-php/zipball/9f625c53c5c05ad4dcaf04d84aea84b9d7b90a19"}]}'
  recorded_at: Mon, 02 Nov 2015 20:00:27 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-elasticbeanstalk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f8c00076b1ab88a1d0f1ea52187419c6"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-elasticbeanstalk","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2012-11-16T06:37:45.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"3.0.*","parsed_version":"3.0.7","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.2","parsed_version":"5.6.15","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:28 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-minimized_descriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f19ceb253e1a2a5f012ee3ad4ff2226f"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-minimized_descriptions","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2012-12-07T01:51:38.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"3.0.*","parsed_version":"3.0.7","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.2","parsed_version":"5.6.15","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:28 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-docs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2b7277b08f4f5808810cdc8f2a1c7274"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-p[...]
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-phar_cacert
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a4199ab84b651f994d2b8c6cd3b7f02"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-phar_cacert","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2012-12-13T07:14:52.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"3.0.*","parsed_version":"3.0.7","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.2","parsed_version":"5.6.15","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:30 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-feature/route53-client
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"da8233e7ec78f5cda9ee4ec25ca1cfa8"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-feature/route53-client","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2012-12-14T23:55:08.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"3.0.*","parsed_version":"3.0.7","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.2","parsed_version":"5.6.15","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:31 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-refactor_descriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"64f1cf80ed1f584e3890fc63f5aceec3"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_ke[...]
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-feature/sqs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2d382380dad15154eee50c25a6772943"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-feature/sqs","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-02-01T01:48:54.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"\u003e=3.1.2,\u003c3.2","parsed_version":"3.1.2","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.2","parsed_version":"5.6.4","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:33 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-sns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9e4c9a7cac495d1483d60b4f2ea6f93d"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-sns","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-02-05T01:09:11.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"\u003e=3.1.2,\u003c3.2","parsed_version":"3.1.2","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.2","parsed_version":"5.6.4","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:33 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-guzzle_url_refactor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"adde07cc3f263232a97fbc7d60996836"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-guzzle_url_refactor","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-02-10T23:19:09.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"\u003e=3.2,\u003c3.3","parsed_version":"3.2.0","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.3","parsed_version":"5.6.15","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:33 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-remove_endpoint_provider
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"00e8ec7596e072ea5c29940259c573c9"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-remove_endpoint_provider","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-02-22T00:04:56.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"\u003e=3.2,\u003c3.3","parsed_version":"3.2.0","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.3","parsed_version":"5.6.4","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:35 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-optimize_signature
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"19ac5d7df507be844ae76ee590074f26"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-optimize_signature","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-02-22T23:51:05.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"\u003e=3.2,\u003c3.3","parsed_version":"3.2.0","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.3","parsed_version":"5.6.13","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:35 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-feature-readme-update
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"67612ff680e8af994f68bbdf77ba7bbe"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-feature-readme-update","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-03-07T01:11:13.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"\u003e=3.2,\u003c3.3","parsed_version":"3.2.0","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.3","parsed_version":"5.6.4","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:36 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-feature-snsmsg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"93d41e686fc42269728ea1adb5108a4c"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-feature-snsmsg","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-03-13T00:31:38.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"\u003e=3.3,\u003c3.4","parsed_version":"3.3.1","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.3","parsed_version":"5.6.4","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:37 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-examples
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8148e7e819c5f1207debf85000d993f7"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-examples","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-03-20T06:34:06.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"\u003e=3.3,\u003c3.4","parsed_version":"3.3.1","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.3","parsed_version":"5.6.4","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"},{"name":"Homepage","link":"http://aws.amazon.com/sdkforphp2"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:38 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-version_number
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7c2393b294e80af255f87a5e03de2ad3"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-version_number","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-03-27T19:58:18.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"\u003e=3.3,\u003c3.4","parsed_version":"3.3.1","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.3","parsed_version":"5.6.9","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"},{"name":"Homepage","link":"http://aws.amazon.com/sdkforphp2"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:38 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-s3_stream_wrapper
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"095d2c593a01507477797d92139117c1"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-feature-models-docs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f1490cffb89849a476476e8575792d9f"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-feature-models-docs","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-04-09T22:32:29.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"\u003e=3.3,\u003c3.4","parsed_version":"3.3.1","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.3","parsed_version":"5.6.4","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"},{"name":"Homepage","link":"http://aws.amazon.com/sdkforphp2"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:39 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-range_download
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c29c700e9753f25c2b7e5d0dbc68e12e"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-range_download","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-04-25T04:21:03.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"\u003e=3.4.1,\u003c3.5","parsed_version":"3.4.3","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.3","parsed_version":"5.6.10","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"},{"name":"Homepage","link":"http://aws.amazon.com/sdkforphp2"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:40 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-retry_expired_tokens
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9c38cdff422c78e809efb1fe929672a6"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-retry_expired_tokens","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-06-03T22:31:16.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"\u003e=3.6,\u003c3.7","parsed_version":"3.6.0","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.3","parsed_version":"5.6.9","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"},{"name":"Homepage","link":"http://aws.amazon.com/sdkforphp2"}],"archives":[]}'
  recorded_at: Mon, 02 Nov 2015 20:00:45 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-s3sync
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f62ae23e8643a871308cc90cb6bde531"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk[...]
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-remove_doc_strings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a981a20b1b895529991d3701fc5b85ae"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-remove_doc_strings","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-07-01T20:45:53.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"~3.7.0","parsed_version":"3.7.4","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.3","parsed_version":"5.6.4","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"},{"name":"Homepage","link":"http://aws.amazon.com/sdkforphp2"}],"archives":[{"name":"aws/aws-sdk-php.zip","link":"https://api.github.com/repos/aws/aws-sdk-php/zipball/6ddd3198b6864716ddb712a053aadc8a53f4599d"}]}'
  recorded_at: Mon, 02 Nov 2015 20:00:46 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-sqs_md5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7b2310531851fafe4a06f1d5bb17056e"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-sqs_md5","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
        SDK for PHP - Use Amazon Web Services in your PHP project","updated_at":"2015-11-02T10:33:47.194Z","released_at":"2013-07-03T18:19:24.000+00:00","dependencies":[{"name":"guzzle/guzzle","dep_prod_key":"guzzle/guzzle","version":"~3.7.0","parsed_version":"3.7.4","group_id":null,"artifact_id":null,"scope":"require"},{"name":"php","dep_prod_key":"php","version":"\u003e=5.3.3","parsed_version":"5.6.8","group_id":null,"artifact_id":null,"scope":"require"}],"licenses":[],"links":[{"name":"Packagist
        Page","link":"http://packagist.org/packages/aws/aws-sdk-php"},{"name":"Homepage","link":"http://aws.amazon.com/sdkforphp2"}],"archives":[{"name":"aws/aws-sdk-php.zip","link":"https://api.github.com/repos/aws/aws-sdk-php/zipball/f82fe75fe50ee67f123576bb9e5329115e524d46"}]}'
  recorded_at: Mon, 02 Nov 2015 20:00:47 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/PHP/aws:aws-sdk-php?api_key=b7f7c65e66d38f511&prod_version=dev-compat-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e0e13ec37cc8a017089a4c706ce70adc"
    body:
      encoding: UTF-8
      string: '{"name":"aws/aws-sdk-php","language":"php","prod_key":"aws/aws-sdk-php","version":"dev-compat-test","prod_type":"composer","group_id":null,"artifact_id":null,"license_info":"unknown","description":"AWS
[...]
