---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f76311e17d1a9ad42288fcc2de88ff18"'
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"Ruby","prod_key":"vcr","version":"2.9.3","prod_type":"RubyGem","versions":[{"version":"2.0.0","released_at":"2012-03-01T23:00:00+00:00","released_string":"2012-03-02T00:00:00Z"},{"version":"2.0.0.rc2","released_at":"2012-02-23T23:00:00+00:00","released_string":"2012-02-24T00:00:00Z"},{"version":"2.0.0.rc1","released_at":"2011-12-08T23:00:00+00:00","released_string":"2011-12-09T00:00:00Z"},{"version":"2.0.0.beta2","released_at":"2011-11-06T23:00:00+00:00","released_string":"2011-11-07T00:00:00Z"},{"version":"2.0.0.beta1","released_at":"2011-10-08T22:00:00+00:00","released_string":"2011-10-09T00:00:00Z"},{"version":"1.11.3","released_at":"2011-08-3[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr?prod_version=2.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"812bf193401551c6659357607d3a77b7"'
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"Ruby","prod_key":"vcr","version":"2.0.0","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"MIT","description":"VCR
        provides a simple API to record and replay your test suite''s HTTP interactions.  It
        works with a variety of HTTP client libraries, HTTP stubbing libraries and
        testing frameworks.","updated_at":"2014-10-16T18:28:01Z","released_at":"2012-03-01T23:00:00+00:00","dependencies":[],"licenses":[{"name":"MIT","url":"http://opensource.org/licenses/mit-license.html"}],"links":[{"name":"Bug
        Tracker","link":"https://github.com/myronmarston/vcr/issues"},{"name":"Bug
        Tracker","link":"https://github.com/vcr/vcr/issues"},{"name":"Documentation","link":"http://relishapp.com/myronmarston/vcr"},{"name":"Documentation","link":"https://www.relishapp.com/vcr/vcr"},{"name":"Homepage","link":"http://github.com/myronmarston/vcr"},{"name":"Homepage","link":"http://github.com/vcr/vcr"},{"name":"Homepage","link":"https://github.com/vcr/vcr"},{"name":"Mailing
        List","link":"http://groups.google.com/group/vcr-ruby"},{"name":"Project","link":"http://rubygems.org/gems/vcr"},{"name":"RubyGem
        Page","link":"https://rubygems.org/gems/vcr"},{"name":"Source Code","link":"https://github.com/myronmarston/vcr"},{"name":"Wiki","link":"https://github.com/myronmarston/vcr/wiki"}],"archives":[{"name":"vcr-2.0.0.gem","link":"http://rubygems.org/gems/vcr-2.0.0.gem"}]}'
  recorded_at: Fri, 17 Oct 2014 16:18:20 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr?prod_version=2.0.0.rc2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ecb67294a91f2991f1649f9b15bcacc5"'
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"Ruby","prod_key":"vcr","version":"2.0.0.rc2","prod_type":"RubyGem","group_id":[...]
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr?prod_version=2.0.0.beta2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"6207b33c111981bde7dc084882d96e8c"'
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"Ruby","prod_key":"vcr","version":"2.0.0.beta2","prod_type":"RubyGem","group_[...]
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/log4r/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"30a358167b007fc47d49d27d23332502"'
    body:
      encoding: UTF-8
      string: '{"name":"log4r","language":"Ruby","prod_key":"log4r","version":"1.1.11","prod_type":"RubyGem","versions":[{"version"[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/log4r?prod_version=1.1.10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"c96adb19d39c9b282b6747d771d8e5f1"'
    body:
      encoding: UTF-8
      string: '{"name":"log4r","language":"Ruby","prod_key":"log4r","version":"1.1.10","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"unknown","description":"See
        also: http://logging.apache.org/log4j","updated_at":"2014-10-16T18:25:53Z","released_at":"2012-01-01T23:00:00+00:00","dependencies":[],"licenses":[],"links":[{"name":"Bug
        Tracker","link":"http://rubyforge.org/tracker/index.php?group_id=203&atid=851"},{"name":"Documentation","link":"http://log4r.rubyforge.org/"},{"name":"Homepage","link":"http://log4r.rubyforge.org"},{"name":"Project","link":"http://rubygems.org/gems/log4r"},{"name":"RubyGem
        Page","link":"https://rubygems.org/gems/log4r"},{"name":"Source Code","link":"http://rubyforge.org/scm/?group_id=203"}],"archives":[{"name":"log4r-1.1.10.gem","link":"http://rubygems.org/gems/log4r-1.1.10.gem"}]}'
  recorded_at: Fri, 17 Oct 2014 16:18:35 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/log4r?prod_version=0.1-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f4cdd413fe77c8cb65d12ff074655574"'
    body:
      encoding: UTF-8
      string: '{"name":"log4r","language":"Ruby","prod_key":"log4r","version":"0.1-4","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"unknown","description":"See
        also: http://logging.apache.org/log4j","updated_at":"2014-10-16T18:25:53Z","released_at":null,"dependencies":[],"licenses":[],"links":[{"name":"Bug
        Tracker","link":"http://rubyforge.org/tracker/index.php?group_id=203&atid=851"},{"name":"Documentation","link":"http://log4r.rubyforge.org/"},{"name":"Homepage","link":"http://log4r.rubyforge.org"},{"name":"Project","link":"http://rubygems.org/gems/log4r"},{"name":"RubyGem
        Page","link":"https://rubygems.org/gems/log4r"},{"name":"Source Code","link":"http://rubyforge.org/scm/?group_id=203"},{"name":"ChangeLog","link":"http://cran.r-project.org/web/packages/log4r/ChangeLog"}],"archives":[]}'
  recorded_at: Fri, 17 Oct 2014 16:18:38 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/log4r?prod_version=1.1.11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2947912472e7bc8825e937580eff4b1e"'
    body:
      encoding: UTF-8
      string: '{"name":"log4r","language":"Ruby","prod_key":"log4r","version":"1.1.11","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"LGPLv3
        ","description":"See also: http://logging.apache.org/log4j","updated_at":"2014-10-16T18:25:53Z","released_at":"2014-01-04T00:00:00+00:00","dependencies":[],"licenses":[{"name":"LGPLv3
        ","url":"http://log4r.rubyforge.org/license.html"}],"links":[{"name":"Bug
        Tracker","link":"http://rubyforge.org/tracker/index.php?group_id=203&atid=851"},{"name":"Documentation","link":"http://log4r.rubyforge.org/"},{"name":"Homepage","link":"http://log4r.rubyforge.org"},{"name":"Project","link":"http://rubygems.org/gems/log4r"},{"name":"RubyGem
        Page","link":"https://rubygems.org/gems/log4r"},{"name":"Source Code","link":"http://rubyforge.org/scm/?group_id=203"}],"archives":[{"name":"log4r-1.1.11.gem","link":"http://rubygems.org/gems/log4r-1.1.11.gem"}]}'
  recorded_at: Fri, 17 Oct 2014 16:18:38 GMT
recorded_with: VCR 2.9.3
