---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr?api_key=b71fb2&prod_version=2.9.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c8b63ba6ced65046867b9239eeed259d"
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"ruby","prod_key":"vcr","version":"2.9.2","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"MIT","description":"VCR
        provides a simple API to record and replay your test suite''s HTTP interactions.  It
        works with a variety of HTTP client libraries, HTTP stubbing libraries and
        testing frameworks.","updated_at":"2016-02-28T11:19:33.034Z","released_at":"2014-05-28T00:00:00.000+00:00","dependencies":[],"licenses":[{"name":"MIT","url":null}],"links":[{"name":"Bug
        Tracker","link":"https://github.com/vcr/vcr/issues"},{"name":"Documentation","link":"https://www.relishapp.com/vcr/vcr"},{"name":"Homepage","link":"https://github.com/vcr/vcr"},{"name":"Homepage","link":"http://vcr.github.io/vcr"},{"name":"Mailing
        List","link":"http://groups.google.com/group/vcr-ruby"},{"name":"Project","link":"http://rubygems.org/gems/vcr"},{"name":"RubyGem
        Page","link":"https://rubygems.org/gems/vcr"},{"name":"Wiki","link":"https://github.com/myronmarston/vcr/wiki"}],"archives":[{"name":"vcr-2.9.2.gem","link":"http://rubygems.org/gems/vcr-2.9.2.gem"}]}'
  recorded_at: Sun, 28 Feb 2016 16:06:46 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/security?api_key=b71fb2&language=Ruby&prod_key=vcr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d8101279bbf3124955182c16b8845ab5"
    body:
      encoding: UTF-8
      string: '{"paging":{"current_page":1,"per_page":30,"total_pages":1,"total_entries":0},"results":[]}'
  recorded_at: Sun, 28 Feb 2016 16:06:48 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr/versions?api_key=b71fb2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db5c99e28c1b50c343ee6836427410a0"
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"ruby","prod_key":"vcr","version":"3.0.1","prod_type":"RubyGem","versions":[{"version":"3.0.1","released_at":"2012-03-01T23:00:00.000+00:00","released_string":"2012-03-02T00:00:00Z"},{"version":"3.0.0","released_at":"2012-02-23T23:00:00.000+00:00","released_string":"2012-02-24T00:00:00Z"},{"version":"2.9.3","released_at":"2011-12-08T23:00:00.000+00:00","released_string":"2011-12-09T00:00:00Z"},{"version":"2.9.2","released_at":"2011-11-06T23:00:00.000+00:00","released_string":"2011-11-07T00:00:00Z"}]}'
  recorded_at: Sun, 28 Feb 2016 16:06:49 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/security?api_key=b71fb2&language=Ruby&prod_key=vcr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d8101279bbf3124955182c16b8845ab5"
    body:
      encoding: UTF-8
      string: '{"paging":{"current_page":1,"per_page":30,"total_pages":1,"total_entries":0},"results":[]}'
  recorded_at: Sun, 28 Feb 2016 16:06:49 GMT
recorded_with: VCR 3.0.1
