---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/phcnotifi/versions?api_key=3958165e66dag2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0cf35b1c34bddeea9203a4acfed74431"
    body:
      encoding: UTF-8
      string: '{"name":"phcnotifi","language":"ruby","prod_key":"phcnotifi","version":"0.2.5","prod_type":"RubyGem","versions":[{"version":"0.2.5","released_at":"2016-03-03T00:00:00.000+00:00","released_string":"2016-03-03T00:00:00.000Z"},{"version":"0.2.1","released_at":"2016-03-03T00:00:00.000+00:00","released_string":"2016-03-03T00:00:00.000Z"},{"version":"0.2.0","released_at":"2016-03-03T00:00:00.000+00:00","released_string":"2016-03-03T00:00:00.000Z"},{"version":"0.1.5","released_at":"2016-03-03T00:00:00.000+00:00","released_string":"2016-03-03T00:00:00.000Z"},{"version":"0.1.0","released_at":"2016-03-03T00:00:00.000+00:00","released_string":"2016-03-03T00:00:00.000Z"},{"version":"0.0.5","released_at":"2016-03-03T00:00:00.000+00:00","released_string":"2016-03-03T00:00:00.000Z"}]}'
  recorded_at: Thu, 03 Mar 2016 10:53:35 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/phcnotifi?api_key=3958165e66dag2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9ac3f53bf69b02ba1577cefb7b4453ed"
    body:
      encoding: UTF-8
      string: '{"name":"phcnotifi","language":"ruby","prod_key":"phcnotifi","version":"0.2.5","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"GPL-3.0","description":"(Under
        Development) PHC-Notifi with bootstrap styled norifications/form validations
        for your ruby on rails app.","updated_at":"2016-03-03T10:47:45.803Z","released_at":"2016-03-03T00:00:00.000+00:00","dependencies":[{"name":"bootstrap-sass","dep_prod_key":"bootstrap-sass","version":"\u003e=
        3.3.6, ~\u003e 3.3","parsed_version":"3.3.6","group_id":null,"artifact_id":null,"scope":"runtime"},{"name":"figaro","dep_prod_key":"figaro","version":"\u003e=
        1.1.1, ~\u003e 1.1","parsed_version":"1.1.1","group_id":null,"artifact_id":null,"scope":"runtime"},{"name":"font-awesome-rails","dep_prod_key":"font-awesome-rails","version":"~\u003e
        4.5","parsed_version":"4.5.0.1","group_id":null,"artifact_id":null,"scope":"runtime"},{"name":"jquery-rails","dep_prod_key":"jquery-rails","version":"\u003e=
        4.0.5, ~\u003e 4.0","parsed_version":"4.1.0","group_id":null,"artifact_id":null,"scope":"runtime"},{"name":"rails","dep_prod_key":"rails","version":"\u003e=
        4.2.5.2, ~\u003e 4.2","parsed_version":"4.2.5.2","group_id":null,"artifact_id":null,"scope":"runtime"},{"name":"sass-rails","dep_prod_key":"sass-rails","version":"\u003e=
        5.0.4, ~\u003e 5.0","parsed_version":"5.0.4","group_id":null,"artifact_id":null,"scope":"runtime"}],"licenses":[{"name":"GPL-3.0","url":null}],"links":[{"name":"Documentation","link":"http://www.rubydoc.info/gems/phcnotifi/0.2.5"},{"name":"Homepage","link":"http://www.phcnetworks.net"},{"name":"Project","link":"https://rubygems.org/gems/phcnotifi"}],"archives":[{"name":"phcnotifi-0.2.5.gem","link":"https://rubygems.org/gems/phcnotifi-0.2.5.gem"}]}'
  recorded_at: Thu, 03 Mar 2016 10:53:35 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/phcnotifi?api_key=3958165e66dag2&prod_version=0.2.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9ac3f53bf69b02ba1577cefb7b4453ed"
    body:
      encoding: UTF-8
      string: '{"name":"phcnotifi","language":"ruby","prod_key":"phcnotifi","version":"0.2.5",[...]
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/security?api_key=3958165e66dag2&language=Ruby&prod_key=phcnotifi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d8101279bbf3124955182c16b8845ab5"
    body:
      encoding: UTF-8
      string: '{"paging":{"current_page":1,"per_page":30,"total_pages":1,"total_entries":0},"results":[]}'
  recorded_at: Thu, 03 Mar 2016 10:53:38 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/ronn/versions?api_key=3958165e66dag2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"70e98ceaeae1128f01882245cb0547fe"
    body:
      encoding: UTF-8
      string: '{"name":"ronn","language":"ruby","prod_key":"ronn","version":"0.7.3","prod_type":"RubyGem","versions":[{"version":"0.7.3","released_at":"2010-06-24T05:00:00.000+00:00","released_string":"2010-06-24T07:00:00Z"},{"version":"0.7.0","released_at":"2010-06-21T05:00:00.000+00:00","released_string":"2010-06-21T07:00:00Z"},{"version":"0.6.6","released_at":"2010-06-13T05:00:00.000+00:00","released_string":"2010-06-13T07:00:00Z"},{"version":"0.6.0","released_at":"2010-06-13T05:00:00.000+00:00","released_string":"2010-06-13T07:00:00Z"},{"version":"0.5","released_at":"2010-04-02T05:00:00.000+00:00","released_string":"2010-04-02T07:00:00Z"},{"version":"0.4.1","released_at":"2010-03-08T07:00:00.000+00:00","released_string":"2010-03-08T08:00:00Z"},{"version":"0.4","released_at":"2010-03-08T07:00:00.000+00:00","released_string":"2010-03-08T08:00:00Z"}]}'
  recorded_at: Thu, 03 Mar 2016 10:53:38 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/ronn?api_key=3958165e66dag2&prod_version=0.7.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"781db846d8fff0914f846ddc85967673"
    body:
      encoding: UTF-8
      string: '{"name":"ronn","language":"ruby","prod_key":"ronn","version":"0.7.3","prod_type":"Ru[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/ronn?api_key=3958165e66dag2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"781db846d8fff0914f846ddc85967673"
    body:
      encoding: UTF-8
      string: '{"name":"ronn","language":"ruby","prod_key":"ronn","version":"0.7.3","prod_type":"RubyGem","group_id":n[...]
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/ronn?api_key=3958165e66dag2&prod_version=0.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e689f97e7f8c7a500534c491d01508eb"
    body:
      encoding: UTF-8
      string: '{"name":"ronn","language":"ruby","prod_key":"ronn","version":"0.5","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"unknown","description":"Builds
        manuals","updated_at":"2016-03-03T07:31:28.285Z","released_at":"2010-04-02T05:00:00.000+00:00","dependencies":[],"licenses":[],"links":[{"name":"Bug
        Tracker","link":"http://github.com/rtomayko/ronn/issues"},{"name":"Homepage","link":"http://rtomayko.github.com/ronn"},{"name":"Project","link":"http://rubygems.org/gems/ronn"},{"name":"RubyGem
        Page","link":"https://rubygems.org/gems/ronn"},{"name":"Source Code","link":"http://github.com/rtomayko/ronn"}],"archives":[{"name":"ronn-0.5.gem","link":"http://rubygems.org/gems/ronn-0.5.gem"}]}'
  recorded_at: Thu, 03 Mar 2016 10:53:40 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/security?api_key=3958165e66dag2&language=Ruby&prod_key=ronn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d8101279bbf3124955182c16b8845ab5"
    body:
      encoding: UTF-8
      string: '{"paging":{"current_page":1,"per_page":30,"total_pages":1,"total_entries":0},"results":[]}'
  recorded_at: Thu, 03 Mar 2016 10:53:41 GMT
recorded_with: VCR 3.0.1
