---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr/versions?api_key=b71fb2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db5c99e28c1b50c343ee6836427410a0"
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"ruby","prod_key":"vcr","version":"3.0.1","prod_type":"RubyGem","versions":[{"version":"2.0.0","released_at":"2012-03-01T23:00:00.000+00:00","released_string":"2012-03-02T00:00:00Z"},{"version":"2.0.0.rc2","released_at":"2012-02-23T23:00:00.000+00:00","released_string":"2012-02-24T00:00:00Z"},{"version":"2.0.0.rc1","released_at":"2011-12-08T23:00:00.000+00:00","released_string":"2011-12-09T00:00:00Z"},{"version":"2.0.0.beta2","released_at":"2011-11-06T23:00:00.000+00:00","released_string":"2011-11-07T00:00:00Z"},{"version":"2.0.0.beta1","released_at":"2011-10-08T22:00:00.000+00:00","released_string":"2011-10-09T00:00:00Z"},{"version":"1.11.3","release[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr?api_key=b71fb2&prod_version=2.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a6a1f3d6cfd146c0011ee1eec15a027e"
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"ruby","prod_key":"vcr","version":"2.0.0","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"MIT","description":"VCR
        provides a simple API to record and replay your test suite''s HTTP interactions.  It
        works with a variety of HTTP client libraries, HTTP stubbing libraries and
        testing frameworks.","updated_at":"2016-02-28T11:19:33.034Z","released_at":"2012-03-01T23:00:00.000+00:00","dependencies":[],"licenses":[{"name":"MIT","url":"http://opensource.org/licenses/mit-license.html"}],"links":[{"name":"Bug
        Tracker","link":"https://github.com/vcr/vcr/issues"},{"name":"Documentation","link":"https://www.relishapp.com/vcr/vcr"},{"name":"Homepage","link":"https://github.com/vcr/vcr"},{"name":"Homepage","link":"http://vcr.github.io/vcr"},{"name":"Mailing
        List","link":"http://groups.google.com/group/vcr-ruby"},{"name":"Project","link":"http://rubygems.org/gems/vcr"},{"name":"RubyGem
        Page","link":"https://rubygems.org/gems/vcr"},{"name":"Wiki","link":"https://github.com/myronmarston/vcr/wiki"}],"archives":[{"name":"vcr-2.0.0.gem","link":"http://rubygems.org/gems/vcr-2.0.0.gem"}]}'
  recorded_at: Sun, 28 Feb 2016 16:15:57 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr?api_key=b71fb2&prod_version=2.0.0.rc2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3aa705d24c5fc3d39044551a5caaa801"
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"ruby","prod_key":"vcr","version":"2.0.0.rc2","prod_type":"RubyG[...]
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr?api_key=b71fb2&prod_version=2.0.0.beta2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c8e325d3393dee3452a1115d5df7aa31"
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"ruby","prod_key":"vcr","version":"2.0.0.beta2","prod_type":"R[...]
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/security?api_key=b71fb2&language=Ruby&prod_key=vcr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d8101279bbf3124955182c16b8845ab5"
    body:
      encoding: UTF-8
      string: '{"paging":{"current_page":1,"per_page":30,"total_pages":1,"total_entries":0},"results":[]}'
  recorded_at: Sun, 28 Feb 2016 16:16:23 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/log4r/versions?api_key=b71fb2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eb70edd674204b92541e0d16493195ff"
    body:
      encoding: UTF-8
      string: '{"name":"log4r","language":"ruby","prod_key":"log4r","version":"1.1.10","prod_type":"RubyGem","versio[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/log4r?api_key=b71fb2&prod_version=1.1.10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"35b03241aac1170f879f61cc5e208bf1"
    body:
      encoding: UTF-8
      string: '{"name":"log4r","language":"ruby","prod_key":"log4r","version":"1.1.10","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"LGPL-3.0","description":"See
        also: http://logging.apache.org/log4j","updated_at":"2016-02-11T20:45:57.877Z","released_at":"2012-01-01T23:00:00.000+00:00","dependencies":[],"licenses":[{"name":"LGPL-3.0","url":"http://log4r.rubyforge.org/license.html"}],"links":[{"name":"Bug
        Tracker","link":"http://rubyforge.org/tracker/index.php?group_id=203\u0026atid=851"},{"name":"Documentation","link":"http://log4r.rubyforge.org/"},{"name":"Homepage","link":"http://log4r.rubyforge.org"},{"name":"Project","link":"http://rubygems.org/gems/log4r"},{"name":"RubyGem
        Page","link":"https://rubygems.org/gems/log4r"},{"name":"Source Code","link":"http://rubyforge.org/scm/?group_id=203"}],"archives":[{"name":"log4r-1.1.10.gem","link":"http://rubygems.org/gems/log4r-1.1.10.gem"}]}'
  recorded_at: Sun, 28 Feb 2016 16:16:24 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/log4r?api_key=b71fb2&prod_version=1.1.6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f6bd423d755c7ae05eb8bbfdd7ff4ea9"
    body:
      encoding: UTF-8
      string: '{"name":"log4r","language":"ruby","prod_key":"log4r","version":"1.1.6","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"unknown","description":"See
        also: http://logging.apache.org/log4j","updated_at":"2016-02-11T20:45:57.877Z","released_at":"2010-03-11T07:00:00.000+00:00","dependencies":[],"licenses":[],"links":[{"name":"Bug
        Tracker","link":"http://rubyforge.org/tracker/index.php?group_id=203\u0026atid=851"},{"name":"Documentation","link":"http://log4r.rubyforge.org/"},{"name":"Homepage","link":"http://log4r.rubyforge.org"},{"name":"Project","link":"http://rubygems.org/gems/log4r"},{"name":"RubyGem
        Page","link":"https://rubygems.org/gems/log4r"},{"name":"Source Code","link":"http://rubyforge.org/scm/?group_id=203"}],"archives":[{"name":"log4r-1.1.6.gem","link":"http://rubygems.org/gems/log4r-1.1.6.gem"}]}'
  recorded_at: Sun, 28 Feb 2016 16:16:26 GMT
recorded_with: VCR 3.0.1
