---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Java/junit:junit/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"93834de2fff959b93b85679d2b60da22"'
    body:
      encoding: UTF-8
      string: '{"name":"junit","language":"Java","prod_key":"junit/junit","version":"4.11","prod_type":"Maven2","versions":[{"version":"4.6","released_at":"2009-05-09T19:56:03+00:00","released_string":"2009-05-09
        07:56:03"},{"version":"4.7","released_at":"2009-08-04T02:07:43+00:00","released_string":"2009-08-04
        02:07:43"},{"version":"4.8.1","released_at":"2010-02-25T12:21:58+00:00","released_string":"2010-02-25
        12:21:58"},{"version":"3.8.1","released_at":"2004-03-05T10:50:06+00:00","released_string":"2004-03-05
        10:50:06"},{"version":"3.7","released_at":"2005-08-01T09:42:48+00:00","released_string":"2005-08-01
        09:42:48"},{"version":"3.8","released_at":"2[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Java/junit:junit?prod_version=4.6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"b165e169886844d3c9dcfdc2868035dc"'
    body:
      encoding: UTF-8
      string: '{"name":"junit","language":"Java","prod_key":"junit/junit","version":"4.6","prod_type":"Maven2","group_id":"junit","artifact_id":"junit","license_info":"Common
        Public License Version 1.0","description":"JUnit is a regression testing framework
        written by Erich Gamma and Kent Beck.\n        It is used by the developer
        who implements unit tests in Java.","updated_at":"2014-10-17T14:10:20Z","released_at":"2009-05-09T19:56:03+00:00","dependencies":[],"licenses":[{"name":"Common
        Public License Version 1.0","url":"http://www.opensource.org/licenses/cpl1.0.txt"}],"links":[{"name":"JUnit","link":"http://www.junit.org"},{"name":"Link
        to Repo","link":"http://mvn.carbonfive.com/nexus/content/groups/public/junit/junit/"},{"name":"Link
        to Repository","link":"http://download.osgeo.org/webdav/geotools/junit/junit/"},{"name":"Link
        to Repository","link":"http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22junit%22%20AND%20a%3A%22junit%22"},{"name":"Link
        to Repository","link":"http://mirrors.ibiblio.org/maven2/junit/junit"},{"name":"SCM","link":"http://github.com/KentBeck/junit/tree/master"},{"name":"URL","link":"http://junit.org"}],"archives":[{"name":"junit-4.6-sources.jar","link":"http://search.maven.org/remotecontent?filepath=junit/junit/4.6/junit-4.6-sources.jar"},{"name":"junit-4.6.jar","link":"http://search.maven.org/remotecontent?filepath=junit/junit/4.6/junit-4.6.jar"},{"name":"junit-4.6.pom","link":"http://search.maven.org/remotecontent?filepath=junit/junit/4.6/junit-4.6.pom"}]}'
  recorded_at: Fri, 17 Oct 2014 16:18:14 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Java/junit:junit?prod_version=4.8.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4a1a3ca7cbc561cfda523c27ee77a09a"'
    body:
      encoding: UTF-8
      string: '{"name":"junit","language":"Java","prod_key":"junit/junit","version":"4.8.1","prod_type":"Maven2","g[...]
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Java/junit:junit?prod_version=4.10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"dec51f4c9ee25b0e6d8946bae1f18eea"'
    body:
      encoding: UTF-8
      string: '{"name":"junit","language":"Java","prod_key":"junit/junit","version":"4.10","prod_type":"Maven2","group_id":"junit","artifact_id":"junit","license_info":"Common
        Public License Version 1.0","description":"JUnit is a regression testing framework
        written by Erich Gamma and Kent Beck.\n        It is used by the developer
        who implements unit tests in Java.","updated_at":"2014-10-17T14:10:20Z","released_at":"2011-09-29T19:12:23+00:00","dependencies":[{"name":"hamcrest-core","dep_prod_key":"org.hamcrest/hamcrest-core","version":"1.1","parsed_version":"1.1","group_id":"org.hamcrest","artifact_id":"hamcrest-core","scope":"compile"}],"licenses":[{"name":"Common
        Public License Version 1.0","url":"http://www.opensource.org/licenses/cpl1.0.txt"}],"links":[{"name":"JUnit","link":"http://www.junit.org"},{"name":"Link
        to Repo","link":"http://mvn.carbonfive.com/nexus/content/groups/public/junit/junit/"},{"name":"Link
        to Repository","link":"http://download.osgeo.org/webdav/geotools/junit/junit/"},{"name":"Link
        to Repository","link":"http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22junit%22%20AND%20a%3A%22junit%22"},{"name":"Link
        to Repository","link":"http://mirrors.ibiblio.org/maven2/junit/junit"},{"name":"SCM","link":"http://github.com/KentBeck/junit/tree/master"},{"name":"URL","link":"http://junit.org"}],"archives":[{"name":"junit-4.10-javadoc.jar","link":"http://search.maven.org/remotecontent?filepath=junit/junit/4.10/junit-4.10-javadoc.jar"},{"name":"junit-4.10-sources.jar","link":"http://search.maven.org/remotecontent?filepath=junit/junit/4.10/junit-4.10-sources.jar"},{"name":"junit-4.10.jar","link":"http://search.maven.org/remotecontent?filepath=junit/junit/4.10/junit-4.10.jar"},{"name":"junit-4.10.pom","link":"http://search.maven.org/remotecontent?filepath=junit/junit/4.10/junit-4.10.pom"}]}'
  recorded_at: Fri, 17 Oct 2014 16:18:16 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Java/junit:junit?prod_version=3.8.2-brew
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"7b22dbcb432847aa788e4d61884f1c9c"'
    body:
      encoding: UTF-8
      string: '{"name":"junit","language":"Java","prod_key":"junit/junit","version":"3.8.2-brew","prod_type":"[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Java/junit:junit?prod_version=4.11-beta-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0bdb50a5a8b8e5c3b93d1e4bc9577316"'
    body:
      encoding: UTF-8
      string: '{"name":"junit","language":"Java","prod_key":"junit/junit","version":"4.11-beta-1","prod_type"[...]
[...]
