---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr/versions?api_key=MY_API_TEST_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db5c99e28c1b50c343ee6836427410a0"
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"ruby","prod_key":"vcr","version":"3.0.1","prod_type":"RubyGem","versions":[{"version":"2.0.0","released_at":"2012-03-01T23:00:00.000+00:00","released_string":"2012-03-02T00:00:00Z"},{"version":"2.0.0.rc2","released_at":"2012-02-23T23:00:00.000+00:00","released_string":"2012-02-24T00:00:00Z"},{"version":"2.0.0.rc1","released_at":"2011-12-08T23:00:00.000+00:00","released_string":"2011-12-09T00:00:00Z"},{"version":"2.0.0.beta2","released_at":"2011-11-06T23:00:00.000+00:00","released_string":"2011-11-07T00:00:00Z"},{"version":"2.0.0.beta1","released_at":"2011-10-08T22:00:00.000+00:00","released_string":"2011-10-09T00:00:00Z"},{"version":"1.11.3","release[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr?api_key=MY_API_TEST_KEY&prod_version=2.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1bbd5047a4459b20a5d7d31813c7083f"
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"ruby","prod_key":"vcr","version":"2.0.0","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"MIT","description":"VCR
        provides a simple API to record and replay your test suite''s HTTP interactions.  It
        works with a variety of HTTP client libraries, HTTP stubbing libraries and
        testing frameworks.","updated_at":"2015-12-24T05:23:03.105Z","released_at":"2012-03-01T23:00:00.000+00:00","dependencies":[],"licenses":[{"name":"MIT","url":"http://opensource.org/licenses/mit-license.html"}],"links":[{"name":"Bug
        Tracker","link":"https://github.com/vcr/vcr/issues"},{"name":"Documentation","link":"https://www.relishapp.com/vcr/vcr"},{"name":"Homepage","link":"https://github.com/vcr/vcr"},{"name":"Homepage","link":"http://vcr.github.io/vcr"},{"name":"Mailing
        List","link":"http://groups.google.com/group/vcr-ruby"},{"name":"Project","link":"http://rubygems.org/gems/vcr"},{"name":"RubyGem
        Page","link":"https://rubygems.org/gems/vcr"},{"name":"Wiki","link":"https://github.com/myronmarston/vcr/wiki"}],"archives":[{"name":"vcr-2.0.0.gem","link":"http://rubygems.org/gems/vcr-2.0.0.gem"}]}'
  recorded_at: Thu, 24 Dec 2015 13:51:18 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr?api_key=MY_API_TEST_KEY&prod_version=2.0.0.rc2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c4a64f90c36c8caf3478c5b024d9fcfe"
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"ruby","prod_key":"vcr","version":"2.0.0.rc2","prod_typ[...]
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/vcr?api_key=MY_API_TEST_KEY&prod_version=2.0.0.beta2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1b7fdfb846e1f315302f278f8a3281f5"
    body:
      encoding: UTF-8
      string: '{"name":"vcr","language":"ruby","prod_key":"vcr","version":"2.0.0.beta2","prod[...]
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/security?api_key=MY_API_TEST_KEY&language=Ruby&prod_key=vcr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d8101279bbf3124955182c16b8845ab5"
    body:
      encoding: UTF-8
      string: '{"paging":{"current_page":1,"per_page":30,"total_pages":1,"total_entries":0},"results":[]}'
  recorded_at: Thu, 24 Dec 2015 13:51:54 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/log4r/versions?api_key=MY_API_TEST_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eb70edd674204b92541e0d16493195ff"
    body:
      encoding: UTF-8
      string: '{"name":"log4r","language":"ruby","prod_key":"log4r","version":"1.1.10","prod_type":"RubyGem[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/log4r?api_key=MY_API_TEST_KEY&prod_version=1.1.10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f1be6d9e626abb49a9efc80320dc7482"
    body:
      encoding: UTF-8
      string: '{"name":"log4r","language":"ruby","prod_key":"log4r","version":"1.1.10","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"LGPL-3.0","description":"See
        also: http://logging.apache.org/log4j","updated_at":"2015-12-21T20:55:54.504Z","released_at":"2012-01-01T23:00:00.000+00:00","dependencies":[],"licenses":[{"name":"LGPL-3.0","url":"http://log4r.rubyforge.org/license.html"}],"links":[{"name":"Bug
        Tracker","link":"http://rubyforge.org/tracker/index.php?group_id=203\u0026atid=851"},{"name":"Documentation","link":"http://log4r.rubyforge.org/"},{"name":"Homepage","link":"http://log4r.rubyforge.org"},{"name":"Project","link":"http://rubygems.org/gems/log4r"},{"name":"RubyGem
        Page","link":"https://rubygems.org/gems/log4r"},{"name":"Source Code","link":"http://rubyforge.org/scm/?group_id=203"}],"archives":[{"name":"log4r-1.1.10.gem","link":"http://rubygems.org/gems/log4r-1.1.10.gem"}]}'
  recorded_at: Thu, 24 Dec 2015 13:51:55 GMT
[...]
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/log4r?api_key=MY_API_TEST_KEY&prod_version=0.1-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"23cfd4ad1bc0d61dffa81e60eb1dab83"
    body:
      encoding: UTF-8
      string: '{"name":"log4r","language":"ruby","prod_key":"log4r","version":"0.1-4","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"unknown","description":"See
        also: http://logging.apache.org/log4j","updated_at":"2015-12-21T20:55:54.504Z","released_at":null,"dependencies":[],"licenses":[],"links":[{"name":"Bug
        Tracker","link":"http://rubyforge.org/tracker/index.php?group_id=203\u0026atid=851"},{"name":"Documentation","link":"http://log4r.rubyforge.org/"},{"name":"Homepage","link":"http://log4r.rubyforge.org"},{"name":"Project","link":"http://rubygems.org/gems/log4r"},{"name":"RubyGem
        Page","link":"https://rubygems.org/gems/log4r"},{"name":"Source Code","link":"http://rubyforge.org/scm/?group_id=203"},{"name":"ChangeLog","link":"http://cran.r-project.org/web/packages/log4r/ChangeLog"}],"archives":[]}'
  recorded_at: Thu, 24 Dec 2015 13:52:00 GMT
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/security?api_key=MY_API_TEST_KEY&language=Ruby&prod_key=log4r
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d8101279bbf3124955182c16b8845ab5"
    body:
      encoding: UTF-8
      string: '{"paging":{"current_page":1,"per_page":30,"total_pages":1,"total_entries":0},"results":[]}'
  recorded_at: Thu, 24 Dec 2015 13:52:01 GMT
recorded_with: VCR 3.0.1
