---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/me?api_key=hasgagagasgfsa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"7f8f9bead00214a3e236bbcf670b4a83"'
    body:
      encoding: UTF-8
      string: '{"fullname":"Robert Reiz","username":"reiz","email":"robert.reiz.81@gmail.com","admin":false,"deleted":false,"notifications":{"new":1,"total":3651},"enterprise_projects":1,"active":true}'
  recorded_at: Wed, 05 Nov 2014 11:42:14 GMT
recorded_with: VCR 2.9.3
