---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 72e349235658c7d30e4974d794f2d08284006b65
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1497965581'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":4984,"reset":1497965581},"search":{"limit":30,"remaining":30,"reset":1497964340},"graphql":{"limit":5000,"remaining":5000,"reset":1497967880}},"rate":{"limit":5000,"remaining":4984,"reset":1497965581}}'
  recorded_at: Tue, 20 Jun 2017 13:11:21 GMT
- request:
    method: get
    uri: https://api.github.com/repos/serde-rs/serde/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 72e349235658c7d30e4974d794f2d08284006b65
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1497965581'
      Etag:
      - W/"d5cb44260c2beed0e59111a9ad17f255"
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"4fdba725fe30dc30658b8e71bead7d9b83ab9b0f","commit":{"author":{"name":"David
        Tolnay","email":"dtolnay@gmail.com","date":"2017-06-18T16:11:21Z"},"committer":{"name":"David
        Tolnay","email":"dtolnay@gmail.com","date":"2017-06-18T16:11:21Z"},"message":"Revert
        \"Support deserialization of struct keys from integers\"\n\nThis is not as
        useful as expected because the Serializer does not know the real\nindex of
        each struct field being serialized. The best it can do is keep a\ncounter,
        which goes wrong if fields are conditionally skipped.\n\nThis reverts commit
        eec710189423d5770bd498fd674e3431483649db.","tree":{"sha":"60238f386a00410576017377d4ca9ffec6bb8b8c","url":"https://api.github.com/repos/serde-rs/serde/git/trees/60238f386a00410576017377d4ca9ffec6bb8b8c"},"url":"https://api.github.com/repos/serde-rs/serde/git/commits/4fdba725fe30dc30658b8e71bead7d9b83ab9b0f","comment_count":0},"url":"https://api.github.com/repos/serde-rs/serde/commits/4fdba725fe30dc30658b8e71bead7d9b83ab9b0f","html_url":"https://github.com/serde-rs/serde/commit/4fdba725fe30dc30658b8e71bead7d9b83ab9b0f","comments_url":"https://api.github.com/repos/serde-rs/serde/commits/4fdba725fe30dc30658b8e71bead7d9b83ab9b0f/comments","author":{"login":"dtolnay","id":1940490,"avatar_url":"https://avatars1.githubusercontent.com/u/1940490?v=3","gravatar_id":"","url":"https://api.github.com/users/dtolnay","html_url":"https://github.com/dtolnay","followers_url":"https://api.github.com/users/dtolnay/followers","following_url":"https://api.github.com/users/dtolnay/following{/other_user}","gists_url":"https://api.github.com/users/dtolnay/gists{/gist_id}","starred_url":"https://api.github.com/users/dtolnay/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dtolnay/subscriptions","organizations_url":"https://api.github.com/users/dtolnay/orgs","repos_url":"https://api.github.com/users/dtolnay/repos","events_url":"https://api.github.com/users/dtolnay/events{/privacy}","received_events_url":"https://api.github.com/users/dtolnay/received_events","type":"User","site_admin":false},"committer":{"login":"dtolnay","id":1940490,"avatar_url":"https://avatars1.githubusercontent.com/u/1940490?v=3","gravatar_id":"","url":"https://api.github.com/users/dtolnay","html_url":"https://github.com/dtolnay","followers_url":"https://api.github.com/users/dtolnay/followers","following_url":"https://api.github.com/users/dtolnay/following{/other_user}","gists_url":"https://api.github.com/users/dtolnay/gists{/gist_id}","starred_url":"https://api.github.com/users/dtolnay/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dtolnay/subscriptions","organizations_url":"https://api.github.com/users/dtolnay/orgs","repos_url":"https://api.github.com/users/dtolnay/repos","events_url":"https://api.github.com/users/dtolnay/events{/privacy}","received_events_url":"https://api.github.com/users/dtolnay/received_events","type":"User","site_admin":false},"parents":[{"sha":"75eed8cdde9625f7d171bded3f4d3fb0355f46f1","url":"https://api.github.com/repos/serde-rs/serde/commits/75eed8cdde9625f7d171bded3f4d3fb0355f46f1","html_url":"https://github.com/serde-rs/serde/commit/75eed8cdde9625f7d171bded3f4d3fb0355f46f1"}]},"_links":{"self":"https://api.github.com/repos/serde-rs/serde/branches/master","html":"https://github.com/serde-rs/serde/tree/master"}}'
  recorded_at: Tue, 20 Jun 2017 13:11:21 GMT
recorded_with: VCR 3.0.3
