---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 7685b6c550174d0a8f236af1564443253b553c27
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '5000'
      X-Ratelimit-Reset:
      - '1498054376'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":5000,"reset":1498054376},"search":{"limit":30,"remaining":30,"reset":1498050836},"graphql":{"limit":5000,"remaining":5000,"reset":1498054376}},"rate":{"limit":5000,"remaining":5000,"reset":1498054376}}'
  recorded_at: Wed, 21 Jun 2017 13:12:56 GMT
- request:
    method: get
    uri: https://api.github.com/repos/serde-rs/serde/commits/fd3d1396d33a49200daaaf8bf17eba78fe4183d8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 7685b6c550174d0a8f236af1564443253b553c27
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1498054376'
      Etag:
      - W/"cd2589c3de4e83cec284e80a35734ed8"
      Last-Modified:
      - Wed, 24 May 2017 07:17:27 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"fd3d1396d33a49200daaaf8bf17eba78fe4183d8","commit":{"author":{"name":"David
        Tolnay","email":"dtolnay@gmail.com","date":"2017-05-24T07:17:27Z"},"committer":{"name":"David
        Tolnay","email":"dtolnay@gmail.com","date":"2017-05-24T07:17:27Z"},"message":"Release
        1.0.8","tree":{"sha":"8c2b446fc20bdc7479c34fe0cc3506c13ed1f307","url":"https://api.github.com/repos/serde-rs/serde/git/trees/8c2b446fc20bdc7479c34fe0cc3506c13ed1f307"},"url":"https://api.github.com/repos/serde-rs/serde/git/commits/fd3d1396d33a49200daaaf8bf17eba78fe4183d8","comment_count":0},"url":"https://api.github.com/repos/serde-rs/serde/commits/fd3d1396d33a49200daaaf8bf17eba78fe4183d8","html_url":"https://github.com/serde-rs/serde/commit/fd3d1396d33a49200daaaf8bf17eba78fe4183d8","comments_url":"https://api.github.com/repos/serde-rs/serde/commits/fd3d1396d33a49200daaaf8bf17eba78fe4183d8/comments","author":{"login":"dtolnay","id":1940490,"avatar_url":"https://avatars1.githubusercontent.com/u/1940490?v=3","gravatar_id":"","url":"https://api.github.com/users/dtolnay","html_url":"https://github.com/dtolnay","followers_url":"https://api.github.com/users/dtolnay/followers","following_url":"https://api.github.com/users/dtolnay/following{/other_user}","gists_url":"https://api.github.com/users/dtolnay/gists{/gist_id}","starred_url":"https://api.github.com/users/dtolnay/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dtolnay/subscriptions","organizations_url":"https://api.github.com/users/dtolnay/orgs","repos_url":"https://api.github.com/users/dtolnay/repos","events_url":"https://api.github.com/users/dtolnay/events{/privacy}","received_events_url":"https://api.github.com/users/dtolnay/received_events","type":"User","site_admin":false},"committer":{"login":"dtolnay","id":1940490,"avatar_url":"https://avatars1.githubusercontent.com/u/1940490?v=3","gravatar_id":"","url":"https://api.github.com/users/dtolnay","html_url":"https://github.com/dtolnay","followers_url":"https://api.github.com/users/dtolnay/followers","following_url":"https://api.github.com/users/dtolnay/following{/other_user}","gists_url":"https://api.github.com/users/dtolnay/gists{/gist_id}","starred_url":"https://api.github.com/users/dtolnay/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dtolnay/subscriptions","organizations_url":"https://api.github.com/users/dtolnay/orgs","repos_url":"https://api.github.com/users/dtolnay/repos","events_url":"https://api.github.com/users/dtolnay/events{/privacy}","received_events_url":"https://api.github.com/users/dtolnay/received_events","type":"User","site_admin":false},"parents":[{"sha":"c47b4c8e0b2a4bfed26b8790b4b76561bebff955","url":"https://api.github.com/repos/serde-rs/serde/commits/c47b4c8e0b2a4bfed26b8790b4b76561bebff955","html_url":"https://github.com/serde-rs/serde/commit/c47b4c8e0b2a4bfed26b8790b4b76561bebff955"}],"stats":{"total":18,"additions":9,"deletions":9},"files":[{"sha":"045d52f4aad140085b5dca3f4867a0a8a8aa7e38","filename":"serde/Cargo.toml","status":"modified","additions":1,"deletions":1,"changes":2,"blob_url":"https://github.com/serde-rs/serde/blob/fd3d1396d33a49200daaaf8bf17eba78fe4183d8/serde/Cargo.toml","raw_url":"https://github.com/serde-rs/serde/raw/fd3d1396d33a49200daaaf8bf17eba78fe4183d8/serde/Cargo.toml","contents_url":"https://api.github.com/repos/serde-rs/serde/contents/serde/Cargo.toml?ref=fd3d1396d33a49200daaaf8bf17eba78fe4183d8","patch":"@@
        -1,6 +1,6 @@\n [package]\n name = \"serde\"\n-version = \"1.0.7\" # remember
        to update html_root_url\n+version = \"1.0.8\" # remember to update html_root_url\n
        authors = [\"Erick Tryzelaar <erick.tryzelaar@gmail.com>\", \"David Tolnay
        <dtolnay@gmail.com>\"]\n license = \"MIT/Apache-2.0\"\n description = \"A
        generic serialization/deserialization framework\""},{"sha":"fe8258a9b9e169b58223b64ff9c20ae195f47b3e","filename":"serde/src/lib.rs","status":"modif[...]
