<p>
  Hello <%= @user.fullname %>
</p>
<p>
  You signed up with an <%= @npd.domain %> domain,
  which is registered to an non profit organisation.
  That's why you get <b><%= @npd.free_projects %></b> private projects for free assinged to your account.
  <br/>
  Let us know how you like our service and help us to spread the word
  about <a href="https://twitter.com/VersionEye">VersionEye</a>.
</p>
<p>
  Have a great day!
</p>
