<p>
  Hello,
</p>
<p>
  This is a test email from VersionEye. If you receive this email your SMTP configuration is all right!
</p>
<p>
  Thanks for joining and have a great day!
</p>
<p>
  Your VersionEye Team<br/>
  <a href="<%= Settings.instance.server_url %>"><%= Settings.instance.server_url %></a>
</p>
