---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/timgluz/versioneye-core/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"http://localhost:3000/api/v2/github/hook/test-project-id?api_key=veye-api-key-123","content_type":"json","project_id":"test-project-id","api_key":"veye-api-key-123"},"events":["push","pull_request"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 6dadec9f9f3f62409c2d6c674ac2bf6d4e601493
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1499443612'
      Etag:
      - '"8accce968c2326bd85616c7587e3b398"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, read:org, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, repo, write:repo_hook
      Location:
      - https://api.github.com/repos/timgluz/versioneye-core/hooks/14810962
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":14810962,"name":"web","active":true,"events":["push","pull_request"],"config":{"url":"http://localhost:3000/api/v2/github/hook/test-project-id?api_key=veye-api-key-123","content_type":"json","project_id":"test-project-id","api_key":"veye-api-key-123","insecure_ssl":"0"},"updated_at":"2017-07-07T15:06:52Z","created_at":"2017-07-07T15:06:52Z","url":"https://api.github.com/repos/timgluz/versioneye-core/hooks/14810962","test_url":"https://api.github.com/repos/timgluz/versioneye-core/hooks/14810962/test","ping_url":"https://api.github.com/repos/timgluz/versioneye-core/hooks/14810962/pings","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Fri, 07 Jul 2017 15:06:52 GMT
recorded_with: VCR 3.0.3
