---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/timgluz/versioneye-core/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","active":true,"events":["push","pull_request"],"config":{"url":"http://localhost:3000/api/v2/github/hook/test-project-id?api_key=veye-api-key-123","content_type":"json","project_id":"test-project-id","api_key":"veye-api-key-123"}}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1496999763'
      Etag:
      - '"b1c363c2340632f26fa92d5c3606c1b5"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, repo, write:repo_hook
      Location:
      - https://api.github.com/repos/timgluz/versioneye-core/hooks/14264227
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":14264227,"name":"web","active":true,"events":["push","pull_request"],"config":{"url":"http://localhost:3000/api/v2/github/hook/test-project-id?api_key=veye-api-key-123","content_type":"json","project_id":"test-project-id","api_key":"veye-api-key-123","insecure_ssl":"0"},"updated_at":"2017-06-09T08:19:40Z","created_at":"2017-06-09T08:19:40Z","url":"https://api.github.com/repos/timgluz/versioneye-core/hooks/14264227","test_url":"https://api.github.com/repos/timgluz/versioneye-core/hooks/14264227/test","ping_url":"https://api.github.com/repos/timgluz/versioneye-core/hooks/14264227/pings","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Fri, 09 Jun 2017 08:19:40 GMT
recorded_with: VCR 3.0.3
