---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/timgluz/versioneye-core/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","active":true,"events":["push","pull_request"],"config":{"url":"http://localhost:3000/api/v2/github/hook/test-project-id?api_key=veye-api-key-123","content_type":"json","project_id":"test-project-id","api_key":"veye-api-key-123"}}'
    headers:
      Authorization:
      - token 86151a3231d06bedb44108625f2968b55ef779ba
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1496744309'
      Etag:
      - '"facfc2da985ef916da032c27f65f6e0a"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, repo, write:repo_hook
      Location:
      - https://api.github.com/repos/timgluz/versioneye-core/hooks/14197063
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":14197063,"name":"web","active":true,"events":["push","pull_request"],"config":{"url":"http://localhost:3000/api/v2/github/hook/test-project-id?api_key=veye-api-key-123","content_type":"json","project_id":"test-project-id","api_key":"veye-api-key-123","insecure_ssl":"0"},"updated_at":"2017-06-06T09:48:46Z","created_at":"2017-06-06T09:48:46Z","url":"https://api.github.com/repos/timgluz/versioneye-core/hooks/14197063","test_url":"https://api.github.com/repos/timgluz/versioneye-core/hooks/14197063/test","ping_url":"https://api.github.com/repos/timgluz/versioneye-core/hooks/14197063/pings","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Tue, 06 Jun 2017 09:48:45 GMT
recorded_with: VCR 3.0.3
