---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/timgluz/versioneye-core/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 6dadec9f9f3f62409c2d6c674ac2bf6d4e601493
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1499443612'
      Etag:
      - W/"e1a68e5c8288f5f31ed98e8e5ae0c57c"
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, read:org, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"Repository","id":14269317,"name":"web","active":true,"events":["pull_request","push"],"config":{"api_key":"709cd0c2e2523fd268e4","content_type":"json","project_id":"593aa2002066ab005710e6b0","url":"https://www.versioneye.com/api/v2/github/hook/593aa2002066ab005710e6b0?api_key=709cd0c2e2523fd268e4","insecure_ssl":"0"},"updated_at":"2017-06-09T13:26:26Z","created_at":"2017-06-09T13:26:26Z","url":"https://api.github.com/repos/timgluz/versioneye-core/hooks/14269317","test_url":"https://api.github.com/repos/timgluz/versioneye-core/hooks/14269317/test","ping_url":"https://api.github.com/repos/timgluz/versioneye-core/hooks/14269317/pings","last_response":{"code":200,"status":"active","message":"OK"}}]'
  recorded_at: Fri, 07 Jul 2017 15:06:53 GMT
recorded_with: VCR 3.0.3
