Hey <%= @user.fullname %>,
<p>
  We're always hard at work to become the most awesome community for software developers. That's what we have done for you lately:
</p>
<ul>
  <li>
    <b>VersionEye Maven Plugin 3.1.0:</b> Version 3.1.0 of the VersionEye Maven Plugin is out.
    It contains many small improvements and support for running the plugin behind a proxy server.
    Read more <a href="http://blog.versioneye.com/2014/11/11/versioneye-maven-plugin-3-1-0/">here</a>.
    <br/><br/>
  </li>
  <li>
    <b>New License Crawler:</b> VersionEye has a new crawler which detects licenses in git repositories.
    It finds license information which is not available on package managers, such as Bower or NPM. Now VersionEye has license information to even more open source libraries.
    Read more <a href="http://blog.versioneye.com/2014/11/11/new-license-crawler-finds-licenses-in-git-repositories/">here</a>.
    <br/><br/>
  </li>
  <li>
    <b>Audit Logs:</b> Now there is an audit log for the license whitelist. Every action on a license whitelist is documented in the database. The audit log is displayed on the bottom of the license whitelist page.
    Read more <a href="http://digitalkaoz.github.io/versioneye-php/">here</a>.
    <br/><br/>
  </li>
  <li>
    <b>Update Single Git Repo:</b> Now it's possible to update a single git repository on VersionEye, instead of reimporting all.
    Read more <a href="http://blog.versioneye.com/2014/11/11/update-single-git-repository/">here</a>.
    <br/><br/>
  </li>
  <li>
    <b>Update for PHP Branches:</b> VersionEye will not send you anymore notifications to new branches on PHP git repos!
    Read more <a href="http://blog.versioneye.com/2014/11/11/update-for-php-branches/">here</a>.
    <br/><br/>
  </li>
</ul>
<p>
  And since we like continuous updating, we did many small improvements on the VersionEye page as well.
</p>
<p>
  <br/>
  We'd love to hear your feedback!
</p>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
<br/>
