Hey <%= @user.fullname %>,

<p>
  We just finished some new features: 
</p>

<ul>
  <li>
    <b>Biicode Integration:</b> Biicode is a package manager for C/C++. We just recently finished the Biicode integration. Check out how you can stay up-to-date with your C/C++ dependencies: <a href="http://blog.versioneye.com/2015/04/27/biicode-integration/">Biicode Integration</a>.
    <br/><br/>
    <img src="https://versioneye.files.wordpress.com/2015/04/biicode_adrian.png" width="200" />
    <br/><br/>
  </li>
  <li>
    <b>VersionEye Maven Plugin 3.4.0:</b> The new version of the <a href="https://github.com/versioneye/versioneye_maven_plugin">maven plugin</a> introduces a new goal: 
    <pre> 
      mvn versioneye:licenseCheck
    </pre>
    This goal checks all your dependencies against a license whitelist on the server. If there is a violation it will break your build. Read more about it <a href="http://blog.versioneye.com/2015/04/15/versioneye-maven-plugin-3-3-0/">here</a>.
    <br/><br/>
  </li>
</ul>

<p>   
  We'd love to hear from you!
</p>  
<br/>
Best Regards, <br/>
Your VersionEye Team <br/>
<a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
<br/>
