<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
  Hey <%= @user.fullname %>,

  <p style="padding-bottom: 0px;">
    A couple months ago VersionEye started to track security vulnerabilities for PHP packages.
    Soon after that the security feature was extended to Node.JS and Ruby.
    And now it's rolled out for Java &amp; Python as well.
    Read more about the security alerts for Java &amp; Python on our
    <a href="http://blog.versioneye.com/2015/11/11/security-alerts-for-java-python/">blog</a>.
    Now we have security alerts for:
  </p>
  <ul>
    <li>PHP</li>
    <li>Ruby</li>
    <li>Node.JS</li>
    <li>Pyton</li>
    <li>Java</li>
  </ul>

  <p style="padding-bottom: 0px;">
    VersionEye is crawling 6 different security databases at least once an hour.
    For Java &amp; Python we are crawling the
    <a href="https://github.com/victims/victims-cve-db/">victims db</a>, which claims
    to have 0 false positives. Please contribute to this db if you know about a
    Java or Python security vulnerability and help to make the world a safer place.
  </p>

  <p style="padding-bottom: 20px;">
    For PHP we added the <a href="https://github.com/Cotya/magento-security-advisories">Magento Security Advisories</a>,
    which is currently maintained by <a href="https://twitter.com/Flyingmana">@Flyingmana</a>.
    Please contribute to this security advisory as well if you know about a
    PHP or Magento security vulnerability and help to make the world a safer place.
  </p>

  <p>
    Your feedback is highly appreciated. Simply reply to this email if you want to give feedback.
  </p>
  <br/>
  Best Regards, <br/>
  Robert @ VersionEye <br/>
  <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
  <br/>
  </div>
</div>
