<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
  Hey <%= @user.fullname %>,

  <p style="padding-bottom: 20px;">
    Here are some important news for you.
  </p>

  <h2>NPM module for VersionEye</h2>
  <p>
    The engineers from <a href="http://www.onwerk.de/">Onwerk</a> published the NPM module for VersionEye.
    Checkout how they use the VersionEye API to keep their Node.JS projects up-to-date.
    Read more <a href="http://blog.versioneye.com/2015/09/15/npm-module-for-versioneye/">here</a>.
  </p>
  <p style="text-align: center;">
    <img src="https://versioneye.files.wordpress.com/2015/09/onwerk-versioneye-integration.png" style="width: 400px;" />
  </p>

  <h2>New Pricing</h2>
  <p>
    There are new monthly plans for VersionEye. The new pricing is more consistent
    and easier to understand. Please check out the new <a href="https://www.versioneye.com/pricing">pricing page</a>.
    <br/>
    The old plans are going to be continued. You don't have to switch to a new plan if you don't want.
    <b>The old plans can be booked until 1st of October</b>. After that the old plans are closed for
    booking and only the <a href="http://blog.versioneye.com/2015/09/18/new-pricing-2/">new plans</a> are available.
  </p>

  <h2>API Rate Limits</h2>
  <p>
    The <a href="https://www.versioneye.com/api/">VersionEye API</a> becomes more and more popular. There are already a lot of
    plugins and add ons build on top of the VersionEye API. In the last couple months
    the API responded to more than 17 Million API requests. Because of the growing
    traffic these rate limits have been introduced.

    <ul>
      <li>10 calls per hour for non authenticated calls.</li>
      <li>50 calls per hour for authenticated calls with an API key.</li>
    </ul>

    If you want to have a higher rate limit please write a email to
    support@versioneye.com with your use case.
  </p>

  <br/>
  <p>
    Your feedback is highly appreciated. Simply reply to this email if you want to give feedback.
  </p>
  <br/>
  Best Regards, <br/>
  Robert @ VersionEye <br/>
  <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
  <br/>
  </div>
</div>