<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
    Hey <%= @user.fullname %>,

    <p style="padding-bottom: 0px;">
      Last time we announced support for the .NET platform and since then we
      got quiet some feedback and deployed already the first improvements.
      Here are the latest news from VersionEye.
    </p>

    <h3>Integration with Snyk.io Security</h3>
    <p>
      <a href="https://snyk.io/">Snyk.io</a> is a new StartUp in the security field. Their goal is not just to find new security vulnerabilities, but also to fix them automatically. We work close together with the Snyk team and just finished the first integration between the 2 platforms. Now the Snyk security database is available through VersionEye as well.
      VersionEye is aggregating 7 security databases now and more are coming soon!
      Read more about the
      Snyk integration on our <a href="https://blog.versioneye.com/2016/08/04/integration-with-snyk-io/">blog post</a>.
    </p>

    <h3>VersionEye Kobalt Plugin</h3>
    <p>
      <a href="https://twitter.com/ethauvin">Erik C. Thauvin</a> wrote a VersionEye Plugin for
      <a href="http://beust.com/kobalt/home/index.html">Kobalt</a>, a new build tool for
      <a href="https://kotlinlang.org/">Kotlin</a>, the new JVM language from
      <a href="https://www.jetbrains.com">JetBrains</a>.
      Read more about this new VersionEye Plugin
      <a href="https://github.com/ethauvin/kobalt-versioneye">here</a>.
    </p>

    <h3>Integration with JetBrain Upsource</h3>
    <p>
      <a href="https://www.jetbrains.com/upsource/">Upsource</a> is a code creview tool from JetBrains.
      Please up vote
      <a href="https://youtrack.jetbrains.com/issue/UP-7410">this ticket</a> which is a feature request
      to integrate the VersionEye API into Upsource.
    </p>

    <p>
      Your feedback is highly appreciated.<br/>
      Simply reply to this email if you want to give feedback.
    </p>

    <p>
      Best Regards, <br/>
      Robert @ VersionEye <br/>
      <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
      <br/>
    </p>

  </div>
</div>
