Hey <%= @user.fullname %>,

<p>
  Now VersionEye has notifications for <a href="http://blog.versioneye.com/2015/05/14/php-security-vulnerabilities/">security vulnerabilities</a>! This new feature currently only works for <a href="https://www.versioneye.com/php">PHP</a>. Right now we have 118 security vulnerabilities in our database which affects some of the most used PHP frameworks and libraries. 
</p>
<p>
  If VersionEye is monitoring your PHP project directly on GitHub/Bitbucket or Stash, you will see a Security tab in your project view. 
</p>
<p>
  Read the full article about this new feature <a href="http://blog.versioneye.com/2015/05/14/php-security-vulnerabilities/">here</a>. 
</p>
<p>
  This feature is very new and we heavily rely on your feedback. Please try it out and let us know when you find anything odd.
</p>

<p>   
  We'd love to hear from you!
</p>  
<br/>
Best Regards, <br/>
Your VersionEye Team <br/>
<a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
<br/>
