Hey <%= @user.fullname %>,
<p>
  2014 was a year with many ups and downs. We want to thank you for being part of our awesome community. 
  The VersionEye team wishes you a mary christmas! And here are our christmas presents for you:
</p>
<ul>
  <li>
    <b>Multiple files per project:</b> Now VersionEye supports multiple files per project. Now you 
    can have a Gemfile, Gemfile.lock and a bower.json file together in one project for example. 
    Read more <a href="http://blog.versioneye.com/2014/12/23/projects-with-multi-file-support/">here</a>.
    <br/><br/>
  </li>
  <li>
    <b>New Notification Emails:</b> The notification emails your receive for software packages you follow directly changed. Now they contain more information, for example the software license. 
    Read more <a href="http://blog.versioneye.com/2014/12/09/new-notification-emails/">here</a>.
    <br/><br/>
  </li>
  <li>
    <b>New Project Overview:</b> The new project overview shows very quickly the most important numbers from the projects. Besides that it's also the new view for the project notification emails. 
    Read more <a href="http://blog.versioneye.com/2014/12/23/new-project-overview-2/">here</a>.
    <br/><br/>
  </li>
</ul>
<p>
  <img src="https://versioneye.files.wordpress.com/2014/12/versioneyechristmas.png" width="200" />
</p>
<p>
  Wishing you a safe and festive holiday,
</p>
<br/>
Your VersionEye Team<br/>
<a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
<br/>
