<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
  Hey <%= @user.fullname %>,

  <p style="padding-bottom: 0px;">
    There is a new feature available at VersionEye. Now VersionEye has Organisations
    and Teams, similar to GitHub. You can organise your repositories in Organisations
    and inside of an Organisation you can group your collaborators in Teams. These
    Teams can be assigned to projects, that way they receive the email notifications
    and are able to edit the project at VersionEye. Read more about this new feature
    at the VersionEye
    <a href="http://blog.versioneye.com/2015/11/29/organisations-teams/">blog</a>.
  </p>

  <p style="padding-bottom: 0px;">
    Now VersionEye has support for Chef and Berkshelf! VersionEye is crawling supermarket.chef.io
    at least once a day and is able to monitor your Berksfile, Berksfile.lock and metadata.rb file
    on GitHub, Bitbucket or Stash.
    If you are an Ops or DevOps working with Chef, feel free to try out this new feature!
  </p>

  <p>
    Your feedback is highly appreciated. Simply reply to this email if you want to give feedback.
  </p>
  <br/>
  Best Regards, <br/>
  Robert @ VersionEye <br/>
  <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
  <br/>
  </div>
</div>
