<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
    Hey <%= @user.fullname %>,

    <p style="padding-bottom: 0px;">
      Last time we announced that VersionEye goes open source and the
      feedback so far was amazing! Many thanks for all the positive feedback you
      provided. Today we have more exciting news.
    </p>

    <h3>Support for .NET Nuget</h3>
    <p>
      We are adding support for .NET Nuget! Currently we are
      monitoring more than 70K open source projects from nuget.org and
      all together more than 1 Million. Now VersionEye can monitor your
      project.json and *.nuspec file on GitHub, Bitbucket and Stash. GitLab
      support is coming in the next weeks ;-) Read more about the
      .NET integration on our <a href="https://blog.versioneye.com/2016/07/26/now-versioneye-has-support-for-net/">blog post</a>.
    </p>

    <a href="https://blog.versioneye.com/2016/07/26/now-versioneye-has-support-for-net/">
      <img width="500" src="https://versioneye.files.wordpress.com/2016/07/screen-shot-2016-07-26-at-15-23-36.png?w=702"/>
    </a>

    <h3>API Key and Billing for Organisations</h3>
    <p>
      We did quiet some changes to the Organisations feature at VersionEye.
      Now all projects are attached to an Organisation by default. That
      makes collaboration easier and some features which are only available
      in Organisations are more accessible now. Beside that we provide an API key
      per Organisation, which is not attached to an user account. The whole
      billing &amp; subscription was moved to Organisations as well.
      Read the details to this changes on our blog:
      <ul>
        <li><a href="https://blog.versioneye.com/2016/07/15/organisation-by-default/">Organisation by default</a></li>
        <li><a href="https://blog.versioneye.com/2016/07/15/api-key-for-organisations/">API Key for Organisations</a></li>
        <li><a href="https://blog.versioneye.com/2016/07/18/billing-per-organisation/">Billing per Organisation</a></li>
      </ul>
    </p>

    <p>
      Your feedback is highly appreciated.<br/>
      Simply reply to this email if you want to give feedback.
    </p>

    <p>
      Best Regards, <br/>
      Robert @ VersionEye <br/>
      <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
      <br/>
    </p>

  </div>
</div>
