Hey <%= @user.fullname %>,
<p>
  You probably heard already about the <a href="http://heartbleed.com/">Heartbleed</a> bug in openssl.
  This bug is so critical for the security of the internet that it even gets his own domain, logo and marketing campaign.
</p>
<p>
  <br/><br/>
  <img src="http://versioneye.files.wordpress.com/2014/04/heartbleed.png" width="200" />
  <br/><br/>
</p>
<p>
  Because of this security issue we revoked ALL tokens from GitHub and Bitbucket and we resettet ALL passwords.
  Please read here what that means to you and how to continue:
  <br/><br/>
  <a href="http://blog.versioneye.com/2014/04/10/the-heartbleed-bug/">http://blog.versioneye.com/2014/04/10/the-heartbleed-bug/</a>
  <br/><br/>
</p>
<p>
  We are very sorry for this inconvenience. But safe is safe!
</p>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="http://www.versioneye.com?utm_medium=email&amp;utm_source=newsletter">http://www.versioneye.com</a>
<br/>
