Hey <%= @user.fullname %>,
<p>
  We're always hard at work to become the most awesome community for software developers. That's what we have done for you lately:
</p>
<ul>
  <li>
    <b>Reference Badges:</b> Beside the dependency badges VersionEye offers references badges as well!
    A reference badge shows how many other software packages depend on the selected one. PHPUnit for
    example is used by more than 7000 PHP projects. This is the reference badge for <a href="https://www.versioneye.com/php/phpunit:phpunit/4.1.4">PHPUnit</a>.
    <br/><br/>
    <a href="https://www.versioneye.com/php/phpunit:phpunit/references"><img src="https://versioneye.files.wordpress.com/2014/07/screen-shot-2014-07-31-at-21-54-02.png" /></a>
    <br/><br/>
  </li>
  <li>
    <b>New SPA for GitHub/Bitbucket:</b> The old Single Page App for our GitHub/Bitbucket integration
    was a bit cluttered and confusing. That's why we build it completely new with ReactJS! The new version
    is much simpler and much faster. Read more <a href="http://blog.versioneye.com/2014/07/31/new-single-page-app-for-githubbitbucket-integration/">here</a>.
    <br/><br/>
    <img width="500" src="https://versioneye.files.wordpress.com/2014/07/screen-shot-2014-07-31-at-10-12-36.png" />
    <br/><br/>
  </li>
  <li>
    <b>Stability & Performance:</b> In the last couple weeks we had some serious problems with
    availability and performance. That included several down times and a very lame performing
    web app. Because of the growing database we run into some problems we wouldn't have expected
    1 year ago. With the awesome support of the open source community the problems could be
    solved and we are back to normal!
    <br/><br/>
    <img src="https://versioneye.files.wordpress.com/2014/07/screen-shot-2014-07-31-at-22-29-25.png" />
    <br/><br/>
  </li>
</ul>
<p>
  And since we like continuous updating, we did many small improvements on the VersionEye page as well.
</p>
<p>
  <br/>
  We'd love to hear your feedback!
</p>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
<br/>
