Hey <%= @user.fullname %>,
<p>
  <!-- We're always hard at work to become the most awesome community for software developers. That's what we have done for you lately: -->
  We just changed our <a href="https://www.versioneye.com/pricing">pricing</a>. Here are the biggest changes.
</p>
<ul>
  <li>
    <b>GitHub organisations:</b> The GitHub organisations are not part of the pricing anymore.
    That means it doesn’t matter if your repository is in a GitHub organisation or not.
    <br/><br/>
  </li>
  <li>
    <b>1 Private Repo for free:</b> The free plan contains 1 private project now.
    That means you can sign up for free and use ALL features for free, limited to
    1 private repository. You only have to pay if you want to monitor more than
    1 private repository.
    <br/><br/>
  </li>
  <li>
    <b>PDF Receipts:</b> For the new plans you get each month a PDF receipt via email.
    <br/><br/>
  </li>
  <li>
    <b>EUR:</b> We switched the currency from USD to EUR.
    Simply because VersionEye is based in Germany!
    <br/><br/>
  </li>
</ul>
<p>
  You can read more about the <a href="https://www.versioneye.com/pricing">new pricing</a>
  on our <a href="http://blog.versioneye.com/2014/06/10/new-pricing/">blog</a>.
  <!-- And since we like continuous updating, we did many small improvements on the VersionEye page as well. -->
</p>
<p>
  <br/>
  We'd love to hear your feedback!
</p>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
<br/>
