Hey <%= @user.fullname %>,
<p>
  We're always hard at work to become the most awesome community for software developers. That's what we have done for you lately:
</p>
<ul>
  <li>
    <b>License Whitelists:</b> Ensure your License Policy with a License Whitelist. Put all the Licenses
    on a Whitelist which are allowed in your organization and VersionEye will notify you about License
    violations in your projects.
    Read more <a href="http://blog.versioneye.com/2014/09/15/license-whitelist/">here</a>.
    <br/><br/>
    <a href="http://blog.versioneye.com/2014/09/15/license-whitelist/"><img src="https://versioneye.files.wordpress.com/2014/09/screen-shot-2014-09-15-at-12-57-35.png" /></a>
    <br/><br/>
  </li>
  <li>
    <b>Scala SBT Support:</b> Now VersionEye supports Scala SBT, the build tool for Scala. Get notified about out-dated dependencies in your build.sbt. Read more <a href="http://blog.versioneye.com/2014/09/15/scala-sbt-support/">here</a>.
    <br/><br/>
  </li>
  <li>
    <b>VersionEye-PHP:</b> VersionEye-PHP is a PHP wrapper around the VersionEye API. Just fetch it into your project via Composer and use the VersionEye API in your project. Read more <a href="http://digitalkaoz.github.io/versioneye-php/">here</a>.
    <br/><br/>
  </li>
  <li>
    <b>Improved Gradle Support:</b> We just improved our Support for the popular build tool Gralde. Read more <a href="http://blog.versioneye.com/2014/08/20/improved-support-for-gradle/">here</a>.
    <br/><br/>
  </li>
</ul>
<p>
  And since we like continuous updating, we did many small improvements on the VersionEye page as well.
</p>
<p>
  <br/>
  We'd love to hear your feedback!
</p>
<br/>
Best regards, <br/>
Your VersionEye Team<br/>
<a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
<br/>
