Hey <%= @user.fullname %>,
<p>
  In the last months we worked hard on <a href="https://www.versioneye.com/enterprise">VersionEye Enterprise</a>! For a long time it was under the radar, 
  because it was unclear if it will work or if customers are willing to pay for it! But now 
  both uncertaincis are history! The product is working and we sold the first UNLIMITED licenses! 
</p>
<p>
  <a href="https://www.versioneye.com/enterprise"><h3>VersionEye Enterprise</h3></a>
</p>  
<p>
  If you host already your own private Git server than <a href="https://www.versioneye.com/enterprise">VersionEye Enterprise</a> will complement your development infrastructure! 
  VersionEye will help your development team to stay up-to-date with open source &amp; closed source components! And it will 
  help you to avoid copyleft licenses!  
</p>
<p>
  <img src="https://versioneye.files.wordpress.com/2015/03/versioneye-statuscharts.png" />
</p>
<p>
  Contact us if you are interested in running <a href="https://www.versioneye.com/enterprise">VersionEye Enterprise</a> on your own server in your own network! 
</p>
<p>   
  We'd love to hear from you!
</p>  
<br/>
Best Regards, <br/>
Your VersionEye Team <br/>
<a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
<br/>
